@use "../base/mixins" as *;
@use "../base/variables" as *;

.advantages-block {
  display: grid;
  gap: 10px;
  margin-top: 12px;

  @include breakpoint(md) {
    margin-top: 32px;
  }

  @include breakpoint(lg) {
    margin-top: 48px;
    grid-template-columns: repeat(3, 1fr);
  }

  .advantages-block__item {
    border-radius: 24px;
    border: 1px solid $stroke;
    background: $white;
    padding: 24px;
    display: grid;
    gap: 12px;

    @include breakpoint(md) {
      border-radius: 32px;
      padding: 32px;
    }

    &-top {
      @include flexAlignCenter;
      gap: 15px;

      &-title {
        color: $wf-wf-dark;
        font-size: 20px;
        font-weight: 600;
        line-height: 120%; /* 24px */
        letter-spacing: -0.2px;

        @include breakpoint(md) {
          font-size: 23px;
        }
      }

      &-image {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: $blue-subdied;
        @include flexCenterCenter;
        flex-shrink: 0;
      }
    }

    &-text {
      color: $gray-dark;
      font-size: 13px;
      line-height: 150%; /* 19.5px */
    }
  }
}