@use "../base/mixins" as *;
@use "../base/variables" as *;

.reviews {
  &-top {
    @include flexColumn;
    gap: 24px;
    margin-bottom: 16px;

    @include breakpoint(md) {
      flex-direction: row;
      justify-content: space-between;
      gap: unset;
      margin-bottom: 32px;
    }

    &-nav {
      @include flexCenterBetween;

      @include breakpoint(md) {
        gap: 16px;
      }
    }
  }

  &-wrapper {
    margin-right: -16px;

    @include breakpoint(md) {
      margin-right: unset;
    }

    .swiper-slide {
      height: unset;
    }

  }
}