@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/container" as *;

.seo {


  &__inner {

    @include breakpoint(lg) {
      display: grid;
      grid-template-columns: 533px calc((100vw - $container * 2) / 12 * 6);
      justify-content: space-between;
    }

    @include breakpoint(xl) {
      grid-template-columns: 560px calc($max-container-width / 12 * 6);
    }

    &-main {
      @include flexColumn;
      gap: 32px;
      margin-bottom: 24px;
    }

    &-content {

    }
  }


  &-image {
    border-radius: 24px;
    overflow: clip;
    isolation: isolate;

    @include breakpoint(md) {
      border-radius: 32px;
    }
  }

  p {
    color: $gray-dark;
    font-size: 14px;
    line-height: 150%; /* 21px */

    @include breakpoint(md) {
      font-size: 16px;
    }

    & + div {
      margin-top: 24px;
    }

    & + ul {
      margin-top: 16px;
    }
  }

  .h3-title {
    margin-bottom: 16px;
  }

  .h4-title {
    margin-bottom: 16px;
  }
}