
block footer
    footer#footer.footer
        .container
            .footer__inner
                .footer__inner-top
                    .footer__inner-top-links
                        .links-block.links-block--showdown
                            .links-block__title Диагностика
                            .links-block__items
                                ul
                                    li
                                        a(href='javascript:void(0)').link-hover МРТ
                                    li
                                        a(href='javascript:void(0)').link-hover УЗИ
                                    li
                                        a(href='javascript:void(0)').link-hover ЭКГ
                                    li
                                        a(href='javascript:void(0)').link-hover Рентген

                        .links-block.links-block--showdown
                            .links-block__title Анализы
                            .links-block__items
                                ul
                                    li
                                        a(href='javascript:void(0)').link-hover Лабораторные анализы

                        .links-block.links-block--showdown
                            .links-block__title Обследования
                            .links-block__items
                                ul
                                    li
                                        a(href='javascript:void(0)').link-hover Чекапы
                                    li
                                        a(href='javascript:void(0)').link-hover Программы здоровья
                        .links-block.links-block--showdown
                            .links-block__title Направления
                            .links-block__items
                                ul
                                    li
                                        a(href='javascript:void(0)').link-hover Гастроэнтерология
                                    li
                                        a(href='javascript:void(0)').link-hover Инфектология
                                    li
                                        a(href='javascript:void(0)').link-hover Кардиология
                                    li
                                        a(href='javascript:void(0)').link-hover Косметология
                                    li
                                        a(href='javascript:void(0)').link-hover Маммология
                                    li
                                        a(href='javascript:void(0)').link-hover Неврология
                                    li
                                        a(href='javascript:void(0)').link-hover Общая хирургия
                                    li
                                        a(href='javascript:void(0)').link-hover Онкология
                                    li
                                        a(href='javascript:void(0)').link-hover Офтальмология
                                    li
                                        a(href='javascript:void(0)').link-hover Педиатрия
                        .links-block
                            .links-block__title О клинике
                            .links-block__items
                                ul
                                    li
                                        a(href='javascript:void(0)').link-hover Услуги
                                    li
                                        a(href='javascript:void(0)').link-hover Справки
                                    li
                                        a(href='javascript:void(0)').link-hover Врачи
                                    li
                                        a(href='javascript:void(0)').link-hover Анализы
                                    li
                                        a(href='javascript:void(0)').link-hover Диагностика
                                    li
                                        a(href='javascript:void(0)').link-hover Заболевания
                                    li
                                        a(href='javascript:void(0)').link-hover Отзывы
                                    li
                                        a(href='javascript:void(0)').link-hover Акции
                                    li
                                        a(href='javascript:void(0)').link-hover Контакты

                    .footer__inner-top-map
                        script.
                            let placemarks = [{
                                coordinates: [59.90523263569599,30.322833620156818],
                            },]
                            let centerPoint = [59.90523263569599,30.322833620156818];
                            let zoomValue = 16;
                        .map__wrapper
                            #map(style="width:100%; height:100%;")
                            .map__wrapper-address Санкт-Петербург, Смоленская, д. 14

                .footer__inner-middle
                    .footer__inner-middle-main
                        a(href='/').footer__logo
                            include ../../public/assets/images/logo.svg
                            span OK.clinic
                        p Многопрофильный центр неврологии, кардиологии, иммунологии, эндокринологии, аллергологии, общей терапии и педиатрии "ОКclinic"
                    .footer__inner-middle-contacts
                        .footer__contacts-top
                            a(href='tel:78129892424').footer__phone.link-hover + 7 812 989-24-24
                            noindex
                                a(href='javascript:void(0)' rel='nofollow')
                                    include ../icons/icon_whatsapp.svg
                            noindex
                                a(href='javascript:void(0)' rel='nofollow')
                                    include ../icons/icon_telegram.svg
                        .footer__contacts-bottom
                            a(href='https://yandex.ru/maps/-/CHeIFW06' target='_blank' rel='noopener').link-hover Санкт-Петербург, ул. Смоленская., д. 14
                    .footer__inner-middle-socials
                        .footer__socials
                            noindex
                                a(href='javascript:void(0)' rel='nofollow')
                                    include ../icons/icon_vk.svg
                            noindex
                                a(href='javascript:void(0)' rel='nofollow')
                                    include ../icons/icon_telegram.svg
                        p Социальные сети
                    .footer__inner-middle-mail
                        a(href='mailto:info@domain.com').link-hover info@domain.com
                        p Пн-Вс 8:00 - 21:00
                    .footer__inner-middle-requests
                        a(data-src='#popupAppointment' data-fancybox).btn.btn--blue-dark Запись на прием
                        a(data-src='#popupCallDoctor' data-fancybox).btn.btn--gray-subdied Вызов врача на дом
                .footer__inner-bottom
                    .footer__devs
                        a(href="https://di-project.studio/").link-hover Сделано в Di-Project.Studio
                    .footer__rights © Все права защищены <span></span>
                    .footer__policy
                        a(href="policy.html").link-hover Политика конфиденциальности