@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/container" as *;

.footer {
  border-radius: 32px 32px 0 0;
  background: $gray-subdied;
  margin-top: 48px;
  padding-top: 16px;

  @include breakpoint(md) {
    padding-top: 20px;
  }

  @include breakpoint(lg) {
    margin-top: 64px;
  }

  @include breakpoint(xl) {
    padding-top: 64px;
  }


  &__inner {

    &-top {
      display: grid;
      gap: 24px;
      grid-template-rows: auto 243px;

      @include breakpoint(md) {
        grid-template-rows: auto 368px;
      }

      @include breakpoint(lg) {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
      }

      &-links {
        padding: 0 8px;

        @include breakpoint(md) {
          column-count: 3;
          padding: 12px;
        }
      }
    }
  }
}

.links-block {

  @include breakpoint(md) {
    margin-bottom: 24px;
  }

  &.links-block--showdown {
    border-bottom: 1px solid $stroke;

    @include breakpoint(md) {
      border-bottom: 0;
    }

    .links-block__items {

    }

    .links-block__title {
      cursor: pointer;
      @include flexCenterBetween;

      @include breakpoint(md) {
        pointer-events: none;
      }

      &:after {
        content: "";
        display: block;
        background: url("../icons/icon_chevron-down--dark-blue.svg") no-repeat center;
        width: 20px;
        height: 20px;
        transition: $transition;

        @include breakpoint(md) {
          display: none;
        }
      }
    }

    &.showdown {
      .links-block__items {
        margin-bottom: 12px;
        opacity: 1;
        visibility: visible;
      }



      .links-block__title:after {
        transform: rotate(180deg);
      }
    }
  }

  &__title {
    color: $blue-dark;
    font-weight: 700;
    padding: 12px 12px 16px 0;

    @include breakpoint(md) {
      padding: 0;
      margin-bottom: 16px;
    }
  }

  &__items {
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: $transition;

    @include breakpoint(md) {
      height: unset;
      overflow: unset;
      opacity: 1;
      visibility: visible;
    }
    ul {
      column-count: 2;

      @include breakpoint(md) {
        column-count: unset;
      }
    }

    li {
      & + li {
        margin-top: 8px;
      }

      a {
        font-size: 14px;
        line-height: 150%;

        @include breakpoint(md) {
          font-size: 16px;
        }
      }
    }
  }
}

.map__wrapper {
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
  position: relative;

  @include breakpoint(md) {
    border-radius: 32px;
  }

  @include breakpoint(lg) {
    max-height: 368px;
  }

  @include breakpoint(xl) {
    max-height: 308px;
  }

  .ymaps-2-1-79-map {
    height: 100%;

    .ymaps-2-1-79-ground-pane {
      filter: grayscale(100%);

    }
  }

  &-address {
    position: absolute;
    padding: 12px;
    line-height: 150%;
    border-radius: 12px;
    background: $white;
    z-index: 1;
    bottom: 30px;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint(md) {
      bottom: 77px;
    }

    @include breakpoint(xl) {
      bottom: 47px;
    }
  }
}

.footer__inner-middle {
  border-radius: 32px;
  background: $white;
  padding: 24px;
  margin-top: 12px;

  @include breakpoint(md) {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 27px;
    padding: 32px;
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat(3, fit-content(100%));
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
  }

  &-main {
    @include flexColumn;
    gap: 8px;
    margin-bottom: 24px;

    @include breakpoint(md) {
      grid-row: 1 / 3;
    }

    @include breakpoint(lg) {
      max-width: 354px;
    }

    p {
      color: $gray-dark;
      font-size: 11px;
      line-height: 16px; /* 145.455% */

      @include breakpoint(md) {
        font-size: 13px;
      }
    }
  }

  &-contacts {
    margin-bottom: 24px;
    @include flexColumn;
    gap: 4px;

    @include breakpoint(xl) {
      transform: translateX(40px);
    }
  }

  &-socials {
    margin-bottom: 24px;
    @include flexColumn;
    gap: 4px;

    @include breakpoint(lg) {
      grid-column: 2 / 3;
    }

    @include breakpoint(xl) {
      transform: translateX(40px);
    }

    p {
      color: $gray-dark;
      font-size: 13px;
      line-height: 150%; /* 19.5px */
    }
  }

  &-mail {
    @include flexColumn;
    gap: 4px;
    margin-bottom: 15px;

    @include breakpoint(md) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      align-self: flex-end;
      margin-bottom: 0;
    }

    @include breakpoint(lg) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      align-self: unset;
    }

    p {
      color: $gray-dark;
      font-size: 13px;
      line-height: 150%; /* 19.5px */
    }
  }
}

.footer__logo {
  @include flexAlignCenter;
  gap: 15px;

  svg {
    width: 72px;
    height: 68px;

    @include breakpoint(md) {
      width: 62px;
      height: 58px;
    }

    @include breakpoint(lg) {
      width: 72px;
      height: 68px;
    }
  }

  span {
    color: $blue-dark;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;

    @include breakpoint(md) {
      font-size: 28px;
    }

    @include breakpoint(lg) {
      font-size: 32px;
    }
  }
}

.footer__contacts-top {
  @include flexAlignCenter;
  gap: 10px;

  .footer__phone {
    font-size: 23px;
    font-weight: 600;
    line-height: 120%; /* 27.6px */
    letter-spacing: -0.23px;
  }

  a {
    @include flexCenterCenter;
  }
}

.footer__contacts-bottom {
  a {
    color: $gray-dark;
    font-size: 13px;
    line-height: 150%; /* 19.5px */
  }
}

.footer__socials {
  @include flexAlignCenter;
  gap: 12px;

  svg {
    width: 32px;
    height: 32px;
  }
}


.footer__inner-middle-requests {
  @include flexColumn;
  gap: 8px;

  @include breakpoint(md) {
    flex-direction: row;
    align-self: flex-end;
  }

  @include breakpoint(lg) {
    flex-direction: column;
    justify-self: flex-end;
  }

  a.btn {
    padding: 14px;
    width: 100%;
    border-radius: 12px;
    font-size: 13px;
    line-height: 150%;
    height: fit-content;

    @include breakpoint(lg) {
      width: 184px;

    }

  }
}

.footer__inner-bottom {
  padding: 16px;
  @include flexColumn;
  gap: 8px;
  color: $gray-dark;
  font-size: 11px;
  line-height: 16px; /* 145.455% */
  text-align: center;

  @include breakpoint(md) {
    @include flexCenterBetween;
    flex-direction: row;
    padding: 32px;
  }
}