@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/container" as *;

.header {
  padding: 12px 0;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 10;
  background: $white;

  &.scroll {
    border-bottom: 1px solid $stroke;
  }

  @include breakpoint(md) {
    padding: 9px 0;
  }

  @include breakpoint(lg) {
    padding: 16px 0;
  }

  &__inner {
    @include flexCenterBetween;

    @include breakpoint(lg) {
      justify-content: unset;
    }

    &-logo {

      @include breakpoint(md) {
        @include flexCenterCenter;
        gap: 9px;
      }

      @include breakpoint(lg) {
        gap: 12px;
      }

      @include breakpoint(xl) {
        gap: 15px;
      }

      svg {
        width: 43px;
        height: auto;

        @include breakpoint(md) {
          width: 45px;
        }

        @include breakpoint(lg) {
          width: 56px;
        }

        @include breakpoint(xl) {
          width: 72px;
        }
      }

      span {
        display: none;

        @include breakpoint(md) {
          display: inline;
          color: #007AC5;
          text-align: center;
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        @include breakpoint(lg) {
          font-size: 25px;
        }

        @include breakpoint(xl) {
          font-size: 32px;
        }
      }
    }

    &-nav {
      display: none;

      @include breakpoint(lg) {
        display: grid;
        gap: 12px;
        margin-left: 32px;
      }

      @include breakpoint(xl) {
        margin-left: 48px;
      }

      &-top {
        color: $gray-dark;
        font-size: 13px;
        line-height: 150%; /* 19.5px */
        @include flexAlignCenter;
        gap: 24px;
      }

      &-bottom {
        line-height: 150%; /* 24px */
        ul {
          @include flexAlignCenter;
          gap: 24px;

          li {
            transition: $transition;

            &:hover {
              color: $blue-dark;

              &:after {
                transform: rotate(180deg);
              }
            }


            &.with-submenu {
              @include flexAlignCenter;
              gap: 4px;
              position: relative;
              cursor: pointer;

              &:after {
                content: "";
                display: block;
                background: url("../icons/icon_chevron-down--blue.svg") no-repeat center;
                width: 20px;
                height: 20px;
                transition: $transition;
              }

              &:before {
                @include breakpoint(lg) {
                  content: "";
                  width: calc(100% + 5px);
                  height: 35px;
                  position: absolute;
                  top: 100%;
                }

              }

              &:hover .submenu {
                @include flexColumn;
              }

              .submenu-action {
                width: 60px;
                height: auto;
                display: flex;
                justify-content: flex-end;
                align-items: center;
              }
            }
          }

          .submenu {
            border-radius: 24px;
            border: 1px solid $stroke;
            background: $white;
            padding: 16px;
            display: none;
            gap: 4px;
            align-items: flex-start;
            position: absolute;
            top: calc(100% + 32px);
            left: 0;
            min-width: 228px;

            li {
              width: 100%;
            }

            a {
              line-height: 150%; /* 24px */
              padding: 4px 12px;
              white-space: nowrap;
              color: $black;
              transition: $transition;
              width: 100%;

              &:hover {
                background: $gray-subdied;
                border-radius: 8px;
                color: $blue-dark;
              }
            }


          }
        }
      }
    }

    &-additional {

      @include breakpoint(md) {
        @include flexCenterBetween;
      }

      @include breakpoint(lg) {
        flex-direction: column;
        gap: 5px;
        margin-left: auto;
      }

      &-top {
        @include flexAlignCenter;
        gap: 12px;

        @include breakpoint(lg) {
          gap: 16px;
        }

        &-phone {
          font-size: 14px;
          font-weight: 700;

          @include breakpoint(md) {
            font-size: 16px;
          }
        }

        &-socials {
          @include flexCenterCenter;
          gap: 4px;

          @include breakpoint(md) {
            gap: 8px;
          }

          a {
            @include flexCenterCenter;

            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }

      &-bottom {
        display: none;
        gap: 4px;

        @include breakpoint(lg) {
          @include flexCenterCenter;
        }

        .search-button {
          width: 32px;
          height: 32px;
          border-radius: 8px;
          background: $blue-subdied;
          @include flexCenterCenter;
          transition: $transition;

          &:hover {
            background: $blue-secondary;
          }

          svg {
            width: 20px;
            height: 20px;
          }
        }

        .btn {
          padding: 8px 38px;
          border-radius: 8px;
          height: 32px;
          font-size: 11px;
        }

        &.copy {
          @include breakpoint(md) {
            @include flexAlignCenter;
          }

          @include breakpoint(lg) {
            display: none;
          }
        }
      }
    }
  }
}

.nav-menu-js {
  display: none;
  padding: 24px 32px;
  background: $white;
  border-top: 1px solid $stroke;
  position: absolute;
  min-height: 746px;
  height: calc(100vh - 68px);
  overflow-y: auto;
  z-index: 10;
  top: 68px;
  width: 100%;
  max-height: 80vh;

  @include breakpoint(md) {
    width: 227px;
    padding: 24px;
    border-radius: 24px;
    position: absolute;
    top: calc(60px + $container);
    right: $container;
    min-height: 463px;
    height: unset;
  }

  &:before {
    //content: "";
    //width: 100%;
    //height: 100%;
    //top: 60px;
    //left: 0;
    //position: fixed;
    //background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), lightgray 50% / cover no-repeat;
    //z-index: -1;
  }

  .header__inner-nav-bottom {
    transition: $transition;

    ul {
      @include flexColumn;
      gap: 0;
      align-items: flex-start;

      li {
        padding: 20px 0;
        border-bottom: 1px solid $stroke;
        width: 100%;

        @include breakpoint(md) {
          padding: 8px;
        }

        a {
          @include breakpoint(md) {
            font-size: 14px;
          }
        }

        &.with-submenu {
          justify-content: space-between;

          &:after {
            display: none;
          }

          ul {
            display: none;
          }

          &:hover {
            .submenu {
              display: none;
            }

            &:after {
              transform: unset;
            }
          }
        }
      }
    }

    &.submenu-opened {
      display: none;
    }

  }

  &.active {
    display: grid;
    grid-template-rows: 1fr fit-content(100%) fit-content(100%);
  }


  .submenu-block {
    display: none;

    &__title {
      display: flex;
      border-bottom: 1px solid $stroke;
      padding: 20px 0;
      font-weight: 700;

      @include breakpoint(md) {
        padding: 8px 0;
      }

      a {
        margin: 0 auto;
        @include breakpoint(md) {
          font-size: 14px;
        }
      }

      svg {
        transform: rotate(180deg);
      }
    }

    .submenu {
      li {
        padding: 20px 0;
        border-bottom: 1px solid $stroke;

        @include breakpoint(md) {
          padding: 8px;
        }

        a {
          @include breakpoint(md) {
            font-size: 14px;
          }
        }
      }
    }

  }

  .header__inner-nav-top {
    display: grid;
    gap: 8px;
    font-size: 16px;
    align-self: flex-end;
    margin-bottom: 48px;

    a {
      width: fit-content;
    }

    @include breakpoint(md) {
      margin-bottom: 0;
      margin-top: 20px;
      gap: 12px;
      font-size: 13px;
    }
  }

  .header__inner-additional-bottom {
    @include flexAlignCenter;
    gap: 8px;
    height: fit-content;
    align-self: flex-end;

    @include breakpoint(md) {
      display: none;
    }

    .search-button {
      width: 48px;
      height: 48px;
      flex-shrink: 0;
    }

    .btn {
      width: 100%;
      padding: 14px;
      font-size: 13px;
      height: 48px;
    }
  }
}