@use "../base/mixins" as *;
@use "../base/variables" as *;

.checkup-wrapper__inner {
  @include breakpoint(lg) {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 12px;
  }
}

.checkup-wrapper__rightside {
  @include breakpoint(lg) {
    order: 2;
  }
}

.checkup-wrapper__rightside-content {
  display: grid;
  gap: 12px;
  margin-bottom: 24px;

  @include breakpoint(md) {
    margin-bottom: 64px;
  }

  @include breakpoint(lg) {
    margin-bottom: 0;
    position: sticky;
    top: 120px;
  }

  .checkup__group {
    border-radius: 24px;
    background: $gray-subdied;
    padding: 24px;
    display: grid;
    gap: 4px;

    p {
      &:first-child {
        font-size: 11px;
        line-height: 16px; /* 145.455% */
      }

      &:last-child {
        color: $blue-dark;
        font-size: 20px;
        font-weight: 600;
        line-height: 120%; /* 24px */
        letter-spacing: -0.2px;

        @include breakpoint(md) {
          font-size: 23px;
          letter-spacing: -0.23px;
        }
      }
    }
  }

  .checkup__price {
    border-radius: 24px;
    border: 1px solid $blue-secondary;
    padding: 24px;
    display: grid;
    gap: 24px;

    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(lg) {
      grid-template-columns: 1fr;
    }

    &-top {
      display: grid;
      gap: 20px;

      @include breakpoint(md) {
        grid-auto-rows: min-content;
        gap: 24px;
      }

      @include breakpoint(lg) {
        gap: 20px;
      }

      &-title {
        font-size: 20px;
        font-weight: 600;
        line-height: 120%; /* 24px */
        letter-spacing: -0.2px;

        @include breakpoint(md) {
          font-size: 23px;
          letter-spacing: -0.23px;
        }
      }

      ul {
        display: grid;
        gap: 8px;
      }
    }

    &-bottom {
      display: grid;
      gap: 24px;

      @include breakpoint(md) {
        justify-self: flex-end;
      }

      @include breakpoint(lg) {
        justify-self: unset;
      }

      &-price {
        display: grid;
        gap: 12px;

        p {
          &:first-child {
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 24px */
            letter-spacing: -0.2px;

            @include breakpoint(md) {
              font-size: 23px;
              letter-spacing: -0.23px;
            }
          }

          &:last-child {
            color: $gray-dark;
            font-size: 11px;
            line-height: 16px; /* 145.455% */
          }
        }
      }

      &-buttons {
        display: grid;
        gap: 8px;

        .btn {
          width: 100%;
          padding: 14px;

          @include breakpoint(md) {
            width: 218px;
          }

          @include breakpoint(lg) {
            width: 100%;
          }
        }
      }
    }
  }
}

.checkup-wrapper__main {
  @include breakpoint(lg) {
    order: 1;
  }
}

.checkup-about {
  display: grid;
  gap: 24px;
  margin-top: 24px;

  p {
    color: $gray-dark;
    font-size: 14px;
    line-height: 150%; /* 21px */

    @include breakpoint(md) {
      font-size: 16px;
    }
  }

  &__image {
    height: 219px;
    border-radius: 32px;
    overflow: clip;
    isolation: isolate;

    @include breakpoint(md) {
      height: 496px;
      max-width: 787px;
    }
  }
}

.checkup-whom {
  display: grid;
  gap: 24px;

  @include breakpoint(md) {
    gap: 32px;
  }

  ul {
    display: grid;
    gap: 8px;

    li {
      color: $black;
      font-size: 14px;
      line-height: 150%; /* 21px */

      @include breakpoint(md) {
        font-size: 16px;
      }
    }
  }
}

.checkup-composition {
  h2, .h2-title {
    margin-bottom: 24px;

    @include breakpoint(md) {
      margin-bottom: 32px;
    }
  }

  h4, .h4-title {
    margin-bottom: 16px;
  }

  ul {

    display: grid;
    gap: 8px;

    li {
      color: $black;
      align-items: baseline;

      @include breakpoint(md) {
        font-size: 16px;
      }
    }

    & + h4, & + .h4-title {
      margin-top: 24px;

      @include breakpoint(md) {
        margin-top: 32px;
      }
    }
  }

  p {
    color: $gray-dark;
    font-size: 14px;
    line-height: 150%; /* 24px */

    @include breakpoint(md) {
      font-size: 16px;
    }
  }
}

.checkup-prepare {
  .checkup-prepare__items {
    margin-top: 24px;

    @include breakpoint(md) {
      margin-top: 32px;
    }

    @include breakpoint(lg) {
      display: grid;
      grid-template-columns: repeat(4, 25%);
    }
  }

  .checkup-prepare__item {
    padding: 20px 16px;
    border-top: 1px solid $stroke;

    @include breakpoint(md) {
      padding: 20px 32px;
    }

    @include breakpoint(lg) {
      border-top: none;
      border-left: 1px solid $stroke;
    }

    &:last-child {
      border-bottom: 1px solid $stroke;

      @include breakpoint(lg) {
        border-bottom: unset;
      }
    }

    &-number {
      font-size: 33px;
      font-weight: 600;
      line-height: 120%; /* 39.6px */
      letter-spacing: -0.99px;
    }

    &-title {
      font-size: 19px;
      font-weight: 600;
      line-height: 120%; /* 22.8px */
      margin: 15px 0 14px;
    }

    &-description {
      color: $gray-dark;
      line-height: 140%; /* 22.4px */

      @include breakpoint(lg) {
        word-break: break-word;
      }
    }
  }
}