@use "../base/mixins" as *;
@use "../base/variables" as *;


.diagnostics-page {
  &__inner {
    &-items {
      display: grid;
      gap: 12px;
      margin-top: 24px;

      @include breakpoint(md) {
        margin-top: 32px;
        grid-template-columns: repeat(2, 1fr);
      }

      @include breakpoint(lg) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

.diagnostics-page-services {
  &__inner {
    &-items {
      display: grid;
      gap: 12px;
      margin-top: 24px;

      @include breakpoint(md) {
        margin-top: 32px;
        grid-template-columns: repeat(2, 1fr);
      }

      @include breakpoint(lg) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

.diagnostics-page-checkups {
  &__inner {
    @include flexColumn;
    gap: 16px;
    margin-bottom: 24px;

    @include breakpoint(md) {
      margin-bottom: 32px;
    }

    @include breakpoint(lg) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }

    &-top {
      display: grid;
      gap: 12px;

      @include breakpoint(md) {
        gap: 24px;
      }

      p {
        color: $gray-dark;
        font-size: 14px;
        line-height: 150%; /* 21px */
        max-width: 675px;

        @include breakpoint(md) {
          font-size: 16px;

        }
      }
    }

    &-bottom {
      @include flexCenterBetween;

      @include breakpoint(lg) {
        justify-content: unset;
        gap: 16px;
      }

      .btn {
        padding: 14px 57px;
      }
    }
  }

  &__swiper {
    margin-right: -16px;

    @include breakpoint(md) {
      margin-right: 0;
    }

    .swiper-wrapper {
      align-items: stretch;

      .swiper-slide {
        height: unset !important;

        .checkup-slider-card {
          height: 100%;
        }
      }
    }
  }
}

.diagnostics-page-equipment {
  &__inner {
    display: grid;
    gap: 32px;

    &-top {
      @include flexColumn;
      gap: 20px;

      @include breakpoint(md) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .tab {
        font-size: 14px;

        @include breakpoint(md) {
          font-size: 16pxx;
        }
      }
    }
  }

  &__content {
    border-radius: 24px;
    background: $wf-fw-subdied;
    padding: 24px;
    display: none;
    flex-direction: column;
    gap: 12px;

    @include breakpoint(md) {
      border-radius: 32px;
      padding: 32px;
    }

    @include breakpoint(lg) {
      flex-direction: row;
      justify-content: space-between;
      gap: 60px;
    }

    &.showed {
      display: flex;
    }

    p {
      font-size: 14px;
      line-height: 150%; /* 21px */
      margin: 24px 0;
    }

    ul {
      display: grid;
      gap: 8px;

      li {
        align-items: baseline;
        color: $black;
        font-size: 14px;
        line-height: 150%; /* 21px */

        @include breakpoint(md) {
          font-size: 16px;
        }
      }
    }

    &-text {
      @include breakpoint(lg) {
        @include columCountMaxWidth(6);
      }

      @include breakpoint(xl) {
        @include columnCountMaxXlWidth(6);
      }
    }

    &-image {
      width: 100%;
      height: auto;
      flex-shrink: 0;

      @include breakpoint(lg) {
        width: 495px;
      }

      @include breakpoint(xl) {
        width: 560px;
      }
    }
  }
}