section.about
    .container
        .about__inner
            .about__inner-content
                .about__inner-content-main
                    .section-title О медцентре
                    .section-description
                        p.
                            Предлагаем более 900 видов лабораторных исследований, выполняемых в кратчайшие
                            сроки с использованием самых современных технологий для исследования гормонов,
                            инфекций, биохимических показателей, спермограммы, иммунограммы, ПЦР-исследования,
                            и так далее.
                            <br>
                            <br>
                            Если у вас нет направления лечащего врача или вы желаете проверить
                            состояние своего здоровья с профилактической целью, врачи-консультанты по
                            лабораторной диагностике помогут выбрать для вас рациональную программу лабораторного
                            обследования и дать оценку выявленных нарушений. Ваш последующий визит к врачу с уже
                            готовыми результатами анализов поможет сэкономить вам время и деньги.
                    .about__inner-content-main-head
                        p Зав. отделением клиники
                        p Иванова Мария Сергеевна
                .about__inner-content-image
                    +img('about-image.jpg')
            .about__inner-additional
                .additional__item
                    .additional__item-top
                        .additional__item-top-image
                            include ../../icons/icon_about-1.svg
                        .additional__item-top-title Лицензии и сертификаты
                    .additional__item-text
                        p.
                            Имеет все необходимые лицензии и сертификаты, подтверждающие качество и
                            безопасность наших услуг. Мы строго соблюдаем все медицинские стандарты и
                            требования
                .additional__item
                    .additional__item-top
                        .additional__item-top-image
                            include ../../icons/icon_about-2.svg
                        .additional__item-top-title Опытные врачи
                    .additional__item-text
                        p.
                            За годы работы сложилась команда проверенных специалистов в разных областях
                            медицины. Мы кропотливо подбираем сотрудников, чтобы нести наши ценности
                            в заботе о пациентах в массы
                .additional__item
                    .additional__item-top
                        .additional__item-top-image
                            include ../../icons/icon_about-3.svg
                        .additional__item-top-title Современное оборудование
                    .additional__item-text
                        p.
                            Регулярно обновляем парк оборудования и проводим техобслуживание уже
                            существующих медицинских приборов. Этим мы добивается высокой
                            точности в анализах.