section.specialists
    .container
        .specialists__inner
            .specialists__inner-top
                .section-title Специалисты
                .specialists__inner-top-nav
                    a(href='doctors.html').btn.btn--transparent-blue-secondary Все специалисты
                    .swiper-nav
                        button.arrow-prev
                        button.arrow-next
        .specialists__inner-slider
            -
                var specialists = [
                    {
                        name: "Филиппов Александр Олегович",
                        specialization: "Врач - невролог, врач - остеопат"
                    },
                    {
                        name: "Гиоева Лаура Валерьевна",
                        specialization: "Невролог"
                    },
                    {
                        name: "Егорова Екатерина Сергеевна",
                        specialization: "Невролог, Кандидат медицинских наук"
                    },
                    {
                        name: "Катенина Светлана Петровна",
                        specialization: "Терапевт, гастроэнтеролог"
                    }
                ]
            .swiper
                .swiper-wrapper
                    each specialist, index in specialists
                        .swiper-slide
                            include ../_doctor-card
                            +doctor-card(index, specialist.name, specialist.specialization)
