section.about
    .container
        .about__inner
            .about__inner-content
                .about__inner-content-main
                    .section-title О медцентре
                    .section-description
                        p.
                            Предлагаем более 900 видов лабораторных исследований, выполняемых в кратчайшие
                            сроки с использованием самых современных технологий для исследования гормонов,
                            инфекций, биохимических показателей, спермограммы, иммунограммы, ПЦР-исследования,
                            и так далее.
                            <br>
                            <br>
                            Если у вас нет направления лечащего врача или вы желаете проверить
                            состояние своего здоровья с профилактической целью, врачи-консультанты по
                            лабораторной диагностике помогут выбрать для вас рациональную программу лабораторного
                            обследования и дать оценку выявленных нарушений. Ваш последующий визит к врачу с уже
                            готовыми результатами анализов поможет сэкономить вам время и деньги.
                    .about__inner-content-main-head
                        p Зав. отделением клиники
                        p Иванова Мария Сергеевна
                .about__inner-content-image
                    +img('about-image.jpg')
            include ../_advantages-block