section.services
    .container
        .services__inner
            .section-top
                .section-title Услуги нашей клиники
                .section-description
                    p.
                        Мы понимаем, что каждый пациент уникален, и поэтому мы
                        разрабатываем индивидуальные планы лечения,
                        учитывая ваши особенности, потребности и предпочтения.
                        Ваше здоровье – это наш приоритет,
                        и мы стремимся обеспечить вам максимально комфортное и эффективное лечение.
            .services__block
                .services__block-top-items
                    -
                        var servicesTopItems = [
                            "Консультация терапевта",
                            "Анализы",
                            "Неврология",
                            "МРТ",
                            "Вызов врача на дом",
                            "Профосмотр",
                            "Диагностика",
                            "Медицинские справки",
                            "ДМС",
                            "УЗИ",
                        ];
                    each servicesTopItem in servicesTopItems
                        a(href='javascript:void(0)').tag-link= servicesTopItem
                .services__block-main-items
                    -
                        var mainItems = [
                            "Аллергология и Иммунология",
                            "Андрология",
                            "Анестезиология",
                            "Восстановительное лечение",
                            "Гастроэнтерология",
                            "Гинекология и акушерство",
                            "Дерматовенерология",
                            "Косметология",
                            "Маммология",
                            "Мануальная терапия",
                            "Медицинский педиатр",
                            "Неврология",
                            "Нефрология",
                            "Озонотерапия",
                            "Онкодерматология",
                            "Оториноларингология (ЛОР)",
                            "Терапия",
                            "Трихология",
                            "Урология",
                            "Физиотерапия",
                            "Педиатрия",
                            "Подология",
                            "Проктология",
                            "Психотерапия",
                            "Пульмонология",
                            "Ревматология",
                            "Хирургия",
                            "Эндокринология",
                            "Эндоскопия"
                        ];

                    ul
                        each item in mainItems
                            li
                                a(href='javascript:void(0)')= item
                a(href='javascript:void(0)').btn.btn--transparent-blue-secondary Смотреть все