section.programs
    .container
        .programs__inner
            .section-top
                .section-title Популярные программы здоровья
                .section-description
                    p.
                        Комплексные программы здоровья нацелены не только на краткосрочное
                        улучшение состояния, но и на долгосрочную поддержку здоровья и
                        профилактику рецидивов. Перед лечением мы всегда проводим комплекс
                        тестирования и диагностики.
            .programs__wrapper
                .programs__wrapper-top
                    a(href='javascript:void(0)').btn.btn--transparent-blue-secondary Все программы
                    .swiper-nav
                        button.arrow-prev
                        button.arrow-next
                .programs__wrapper-items
                    -
                        var programsTitles = [
                            "Программа «Мама и ребенок»",
                            "Программа «Мужское здоровье»",
                            "Программа «Пожилым здоровье»"
                        ]
                    .swiper
                        .swiper-wrapper
                            each title, index in programsTitles
                                .swiper-slide
                                    a(href='javascript:void(0)').programs-item
                                        .programs-item__title= title
                                        ul.custom-list
                                            li Персональное сопровождение
                                            li Индивидуальный подход
                                            li Обследование за 1 день
                                        .programs-item__prices
                                            span 14 200 ₽
                                            span 21 800 ₽
                                        .programs-item__image
                                            +img(`programs-${index + 1}.png`)