extends ../layout/layout

block title
    - var title = 'Страница 404'
    - var page = 'page-404'

block main
    section.error-page
        .container
            .error-page__inner
                .error-page__inner-image
                    include ../../public/assets/images/404.svg
                p Ошибка 404. Страница не найдена.
                p Вы находитесь здесь, потому что ввели адрес страницы, которая уже не существует или была перемещена по другому адресу
                .error-page__inner-button
                    a(href='/').btn.btn--blue-dark Вернуться на главную
