extends ../layout/layout

block title
    - title = 'Чекап «Скан женского здоровья»'
    - page = 'page-checkup'

block main
    include ../components/_breadcrumbs
    +breadcrumbs('Чекапы', 'Чекапы гинекология', 'Чекап «Скан женского здоровья»')
    .checkup-wrapper.side-wrapper
        .container
            h1.not-main Чекап «Скан женского здоровья»
            .checkup-wrapper__inner
                .checkup-wrapper__rightside
                    .checkup-wrapper__rightside-content
                        .checkup__group
                            p Группа чекапов
                            p Гинекология
                        .checkup__price
                            .checkup__price-top
                                .checkup__price-top-title Особенности
                                ul.custom-list
                                    li 6-8 дней
                                    li Для пациенток старше 25 лет
                            .checkup__price-bottom
                                .checkup__price-bottom-price
                                    p от 48 600 ₽
                                    p Доп услуга: 2000 ₽
                                .checkup__price-bottom-buttons
                                    a(href='javascript:void(0)').btn.btn--blue-dark Запись на прием
                                    a(href='javascript:void(0)').btn.btn--gray-subdied Пример результата

                .checkup-wrapper__main
                    .anchor-links
                        a(href='#about').anchor-link.active Об услуге
                        a(href='#whom').anchor-link Для кого
                        a(href='#composition').anchor-link Состав программы
                        a(href='#prepare').anchor-link Подготовка
                    section.checkup-about#about
                        .h2-title Об услуге
                        p.
                            Программа «Скан здоровья» для женщин – это комплекс
                            клинико-лабораторных и инструментальных обследований,
                            направленных на оценку состояния не только половой системы,
                            но и всего организма женщины в целом. Программа не имеет
                            противопоказаний. Подходит для пациенток старше 25 лет.
                        .checkup-about__image
                            +img('checkup-page-image.jpg')

                    section.checkup-whom#whom
                        .h2-title Кому рекомендуется пройти программу:
                        ul.custom-list
                            li 1 раз в год
                            li Женщинам, которые планируют рождение детей
                            li Женщинам, которые проходят гинекологическое лечение (для оценки его эффективности и своевременной коррекции)
                            li Женщинам с отягощенной наследственностью, у которых ближайшие родственники страдали хроническими заболеваниями
                            li Пациенткам, которые проживают в экологически неблагоприятных районах или сталкиваются с воздействием вредных факторов на работе
                            li Пациенткам, которые проживают в экологически неблагоприятных районах или сталкиваются с воздействием вредных факторов на работе
                            li Пациенткам с наличием симптомов различных заболеваний

                    section.checkup-composition#composition
                        .h2-title Состав программы
                        .h4-title Лабораторная диагностика
                        ul.custom-list
                            li Исследуем биологический материал (анализы крови и мочи, мазки из влагалища и цервикального канала);
                            li Определяем уровень глюкозы в крови для своевременной диагностики предиабетического состояния и уже развившегося сахарного диабета;
                            li Оцениваем уровень гликозилированного гемоглобина, который позволяет узнать концентрацию глюкозы в течение 3 последних месяцев;
                            li Проводим оценку функции печени и поджелудочной железы по уровню АЛТ, АСТ, общего билирубина, общего белка;
                            li Оцениваем риски развития атеросклероза и состояние жирового обмена (определяем уровень общего холестерина);
                            li Оцениваем запасы железа в организме для ранней диагностики анемии;
                            li Определяем функцию почек по уровню креатинина и мочевины;
                            li Определяем функциональное состояние щитовидной железы по уровню общего тироксина (Т4 общий) и ТТГ;
                        .h4-title Инструментальная диагностика
                        ul.custom-list
                            li.
                                УЗИ органов брюшной полости и мочевыводящей системы –
                                в режиме реального времени позволяет получить информацию
                                о состоянии поджелудочной железы, желчного пузыря, печени,
                                селезенки, лимфатических узлов, почек, мочевого пузыря.
                            li.
                                УЗИ молочных желез – позволяет оценить соотношение различных
                                тканевых компонентов, составляющих молочную железу, оценить
                                кровоснабжение, выявить образования даже небольших размеров
                                (опухоли, кисты).
                            li.
                                УЗИ щитовидной железы с ЦДК  – позволяет оценить контуры и
                                структуру органа, определить наличие образований и кист,
                                внутриорганный кровоток. Метод помогает в диагностике
                                аутоиммунного тиреоидита, диффузного токсического зоба,
                                опухолей щитовидной железы и др. ЦДК (цветное допплеровское
                                картирование) оценивает характер кровоснабжения органа,
                                что важно для обнаружения новообразований на ранней стадии
                                развития.
                            li.
                                УЗИ органов малого таза с ЦДК – проводится трансабдоминально
                                или трансвагинально. Позволяет оценить размер, форму,
                                структуру, расположение, кровоснабжение матки, полости
                                матки, шейки матки, яичников, маточных труб, выявить
                                наличие новообразований, воспалительных процессов.
                            li.
                                Электрокардиография – позволяет выявить даже незначительные
                                отклонения в сердечной деятельности на раннем этапе
                                развития – изменения частоты и регулярности сокращений
                                миокарда, нарушения в миокарде острого и хронического
                                характера, экстрасистолию, мерцательную аритмию, нарушения
                                внутрисердечной проводимости, гипертрофию отделов сердца.
                        .h4-title Консультация врача-гинеколога
                        p.
                            Врач-акушер-гинеколог обобщит все полученные результаты,
                            проведет осмотр и сделает заключение о наличии или
                            отсутствии нарушений со стороны мочеполовой системы и
                            рисков развития патологии, даст необходимые рекомендации
                            относительно лечения и проведения профилактических
                            мероприятий, а при необходимости состав программу
                            углубленного диагностического поиска.

                    section.checkup-prepare#prepare
                        .h2-title Подготовка к исследованию
                        .checkup-prepare__items
                            .checkup-prepare__item
                                .checkup-prepare__item-number 1
                                .checkup-prepare__item-title Забор крови
                                .checkup-prepare__item-description
                                    p.
                                        Забор крови производится утром натощак. Последний прием
                                        пищи не позже 6 часов перед венепункцией. Для оценки урины
                                        используется средняя порция утренней мочи.
                            .checkup-prepare__item
                                .checkup-prepare__item-number 2
                                .checkup-prepare__item-title УЗИ
                                .checkup-prepare__item-description
                                    p.
                                        Исследование проводится натощак (последний прием пищи не менее 6
                                        часов назад). Прием воды (1 литр) перед сканированием осуществляется
                                        за час до исследования
                            .checkup-prepare__item
                                .checkup-prepare__item-number 3
                                .checkup-prepare__item-title ЭГДС и колоноскопия
                                .checkup-prepare__item-description
                                    p.
                                        Эзофагогастродуоденоскопия и колоноскопия выполняется натощак
                                        (12-часовой интервал между последним приемом пищи) по
                                        предварительной записи.
                            .checkup-prepare__item
                                .checkup-prepare__item-number 4
                                .checkup-prepare__item-title Прием врача
                                .checkup-prepare__item-description
                                    p.
                                        Прием врача-акушера-гинеколога и врача-терапевта проводится
                                        после прохождения всех дополнительных методов обследования.
                                        На консультацию следует заранее записаться.

    include ../components/_feedback