extends ../layout/layout

block title
    - title = 'Диагностика'
    - page = 'page-diagnostics'

block main
    include ../components/_breadcrumbs
    +breadcrumbs('Диагностика')
    section.diagnostics-page
        .container
            .diagnostics-page__inner
                h1.not-main Диагностика
                .diagnostics-page__inner-items
                    -
                        var diagnosticsItems = [
                            {
                                title: "Компьютерная томография",
                                details:
                                        [
                                            "Брюшная полость",
                                            "Вверхняя конечность",
                                            "Голова",
                                            "Грудная клетка",
                                            "Нижняя конечность",
                                        ]
                            },
                            {
                                title: "Ультразвуковая диагностика",
                                details:
                                        [
                                            "Железы внутренней секреции",
                                            "Женские половые органы",
                                            "Иммунная система",
                                            "Крупные кровеносные сосуды",
                                            "Мужские половые органы",
                                        ]
                            },
                            {
                                title: "Рентгенография",
                                details:
                                        [
                                            "Брюшная полость и таз",
                                            "Верхняя конечность",
                                            "Голова",
                                            "Грудная клетка",
                                            "Нижняя конечность",
                                        ]
                            },
                            {
                                title: "Рентгеноденситометрия",
                                details:
                                        [
                                            "Рентгеноденситометрия одного отдела позвоночника",
                                            "Рентгеноденситометрия проксимального отдела бедренной кости",
                                            "Рентгеноденситометрия поясничной области и одного бедра",
                                            "Рентгеноденситометрия поясничных позвонков, бедренной кости и предплечья",
                                            "Рентгеноденситометрия поясничной области и предплечья",
                                        ]
                            },
                            {
                                title: "Маммография",
                                details:
                                        [
                                            "Маммография одной молочной железы (после мастэктомии)",
                                            "Маммография одной железы (прицельная) в двух проекциях",
                                            "Маммография обеих молочных желез",
                                            "Маммография обеих молочных желез с томосинтезом",
                                            "Дуктография одной молочной железы",
                                        ]
                            },
                            {
                                title: "Функциональная диагностика",
                                details:
                                        [
                                            "Крупные кровеносные сосуды",
                                            "Мышечная система",
                                            "Нижние дыхательные пути и легочная ткань",
                                            "Прочие",
                                            "Сердце и перикард",
                                        ]
                            },
                        ]

                    include ../components/_diagnostics-item
                    each diagnosticsItem in diagnosticsItems
                        +diagnosticItem(diagnosticsItem.title, diagnosticsItem.details)

    include ../components/sections/_section-installment
    section.diagnostics-page-popular
        .container
            .diagnostics-page-popular__inner
                .h2-title Популярные услуги диагностики
                .diagnostics-page-popular__inner-items
                    - var n = 8
                    while n > 0
                        include ../components/_diagnostics-card
                        - n--;