extends ../layout/layout

block title
    - title = 'Диагностика'
    - page = 'page-diagnostics'

block main
    include ../components/_breadcrumbs
    +breadcrumbs('Диагностика')
    section.diagnostics-page
        .container
            .diagnostics-page__inner
                h1.not-main Диагностика
                .diagnostics-page__inner-items
                    -
                        var diagnosticsItems = [
                            {
                                title: "Компьютерная томография",
                                details:
                                        [
                                            "Брюшная полость",
                                            "Вверхняя конечность",
                                            "Голова",
                                            "Грудная клетка",
                                            "Нижняя конечность",
                                        ]
                            },
                            {
                                title: "Ультразвуковая диагностика",
                                details:
                                        [
                                            "Железы внутренней секреции",
                                            "Женские половые органы",
                                            "Иммунная система",
                                            "Крупные кровеносные сосуды",
                                            "Мужские половые органы",
                                        ]
                            },
                            {
                                title: "Рентгенография",
                                details:
                                        [
                                            "Брюшная полость и таз",
                                            "Верхняя конечность",
                                            "Голова",
                                            "Грудная клетка",
                                            "Нижняя конечность",
                                        ]
                            },
                            {
                                title: "Рентгеноденситометрия",
                                details:
                                        [
                                            "Рентгеноденситометрия одного отдела позвоночника",
                                            "Рентгеноденситометрия проксимального отдела бедренной кости",
                                            "Рентгеноденситометрия поясничной области и одного бедра",
                                            "Рентгеноденситометрия поясничных позвонков, бедренной кости и предплечья",
                                            "Рентгеноденситометрия поясничной области и предплечья",
                                        ]
                            },
                            {
                                title: "Маммография",
                                details:
                                        [
                                            "Маммография одной молочной железы (после мастэктомии)",
                                            "Маммография одной железы (прицельная) в двух проекциях",
                                            "Маммография обеих молочных желез",
                                            "Маммография обеих молочных желез с томосинтезом",
                                            "Дуктография одной молочной железы",
                                        ]
                            },
                            {
                                title: "Функциональная диагностика",
                                details:
                                        [
                                            "Крупные кровеносные сосуды",
                                            "Мышечная система",
                                            "Нижние дыхательные пути и легочная ткань",
                                            "Прочие",
                                            "Сердце и перикард",
                                        ]
                            },
                        ]

                    include ../components/_diagnostics-item
                    each diagnosticsItem in diagnosticsItems
                        +diagnosticItem(diagnosticsItem.title, diagnosticsItem.details)

    include ../components/sections/_section-installment

    section.diagnostics-page-services
        .container
            .diagnostics-page-services__inner
                .h2-title Популярные услуги диагностики
                .diagnostics-page-services__inner-items
                    - var n = 8
                    while n > 0
                        include ../components/_diagnostics-card
                        - n--;

    section.diagnostics-page-checkups
        .container
            .diagnostics-page-checkups__inner
                .diagnostics-page-checkups__inner-top
                    .h2-title Популярные чекапы
                    p.
                        Комплекс клинико-лабораторных и инструментальных
                        обследований, направленных на оценку состояния
                        как отдельных органов, так и все организма в целом.
                .diagnostics-page-checkups__inner-bottom
                    a(href='javascript:void(0)').btn.btn--transparent-blue-secondary Все программы
                    .swiper-nav
                        button.arrow-prev
                        button.arrow-next
            .diagnostics-page-checkups__swiper.swiper
                .swiper-wrapper
                    -
                        var checkups = [
                            {
                                title: 'Чекап «Скан женского здоровья»',
                                description: 'Полный комплекс обследований и выявление заболеваний на ранней стадии за 3-4 дня',

                            },
                            {
                                title: 'Чекап «Мужское здоровье»',
                                description: 'Две консультации уролога, целый комплекс исследований и забор материалов',

                            },
                            {
                                title: 'Чекап «Здоровое пищевариение»',
                                description: 'Лабораторные, ультразвуковое и эндоскопические исследования всей пищеварительной системы',

                            },
                        ]
                    each checkup, index in checkups
                        include ../components/_checkup-slider-card
                        .swiper-slide
                            +checkupSliderCard(checkup.title, checkup.description, index)

    section.diagnostics-page-equipment
        .container
            .diagnostics-page-equipment__inner
                .diagnostics-page-equipment__inner-top
                    .h2-title Оборудование
                    .diagnostics-page-equipment__tabs.tabs(data-tabs-actions)
                        button(data-tab='mri').tab.active МРТ
                        button(data-tab='ct').tab КТ
                        button(data-tab='x-ray').tab Рентген
                        button(data-tab='ultrasound').tab УЗИ
                .diagnostics-page-equipment__content.showed.tab-content(data-content='mri')
                    .diagnostics-page-equipment__content-image
                        +img('diagnostics-page-mri.png')
                    .diagnostics-page-equipment__content-text
                        .h3-title МРТ-аппарат SIGNA Explorer
                        p.
                            МРТ-аппарат обеспечивает исключительное качество изображения,
                            высокую пропускную способность и повышенное удобство для
                            пациента.
                        ul.custom-list
                            li.
                                Технология SilentScan снижает уровень шума от МР-томографа
                                практически до уровня шума в кабинете диагностики (&lt;3 дБ*);
                            li.
                                Высококачественные изображения всех областей,
                                вне зависимости от исследуемой части тела;
                            li.
                                Широкий тоннель и удобная кушетка обеспечивают вам
                                максимальный комфорт во время исследования;
                            li.
                                Максимальный вес пациента — до 120 кг.,
                                окружность тела не более 140 см.
                            li Напряжённость магнитного поля составляет 1,5 T (Тесла)
                .diagnostics-page-equipment__content.tab-content(data-content='ct')
                    .diagnostics-page-equipment__content-image
                        +img('diagnostics-page-mri.png')
                    .diagnostics-page-equipment__content-text
                        .h3-title КТ
                        p.
                            МРТ-аппарат обеспечивает исключительное качество изображения,
                            высокую пропускную способность и повышенное удобство для
                            пациента.
                        ul.custom-list
                            li.
                                Технология SilentScan снижает уровень шума от МР-томографа
                                практически до уровня шума в кабинете диагностики (&lt;3 дБ*);
                            li.
                                Высококачественные изображения всех областей,
                                вне зависимости от исследуемой части тела;
                            li.
                                Широкий тоннель и удобная кушетка обеспечивают вам
                                максимальный комфорт во время исследования;
                            li.
                                Максимальный вес пациента — до 120 кг.,
                                окружность тела не более 140 см.
                            li Напряжённость магнитного поля составляет 1,5 T (Тесла)
                .diagnostics-page-equipment__content.tab-content(data-content='x-ray')
                    .diagnostics-page-equipment__content-image
                        +img('diagnostics-page-mri.png')
                    .diagnostics-page-equipment__content-text
                        .h3-title Рентген
                        p.
                            МРТ-аппарат обеспечивает исключительное качество изображения,
                            высокую пропускную способность и повышенное удобство для
                            пациента.
                        ul.custom-list
                            li.
                                Технология SilentScan снижает уровень шума от МР-томографа
                                практически до уровня шума в кабинете диагностики (&lt;3 дБ*);
                            li.
                                Высококачественные изображения всех областей,
                                вне зависимости от исследуемой части тела;
                            li.
                                Широкий тоннель и удобная кушетка обеспечивают вам
                                максимальный комфорт во время исследования;
                            li.
                                Максимальный вес пациента — до 120 кг.,
                                окружность тела не более 140 см.
                            li Напряжённость магнитного поля составляет 1,5 T (Тесла)
                .diagnostics-page-equipment__content.tab-content(data-content='ultrasound')
                    .diagnostics-page-equipment__content-image
                        +img('diagnostics-page-mri.png')
                    .diagnostics-page-equipment__content-text
                        .h3-title УЗИ
                        p.
                            МРТ-аппарат обеспечивает исключительное качество изображения,
                            высокую пропускную способность и повышенное удобство для
                            пациента.
                        ul.custom-list
                            li.
                                Технология SilentScan снижает уровень шума от МР-томографа
                                практически до уровня шума в кабинете диагностики (&lt;3 дБ*);
                            li.
                                Высококачественные изображения всех областей,
                                вне зависимости от исследуемой части тела;
                            li.
                                Широкий тоннель и удобная кушетка обеспечивают вам
                                максимальный комфорт во время исследования;
                            li.
                                Максимальный вес пациента — до 120 кг.,
                                окружность тела не более 140 см.
                            li Напряжённость магнитного поля составляет 1,5 T (Тесла)

    include ../components/_seo-content

    include ../components/_feedback
