extends ../layout/layout

block title
    - title = 'Компьютерная томография'
    - page = 'page-diagnostics-category'

block main
    include ../components/_breadcrumbs
    +breadcrumbs('Диагностика', 'Компьютерная томография')
    section.diagnostics-category
        .container
            .diagnostics-category__inner
                .diagnostics-category__inner-top
                    h1 Компьютерная томография
                    p.
                        Мультиспиральная компьютерная томография - неинвазивный
                        высокоинформативный метод лучевой диагностики, обладающий
                        высоким качеством изображений и высокой скоростью проведения
                        исследования.
                    .diagnostics-category__inner-top-crosses
                        +img('crosses-1.png')
                    .diagnostics-category__inner-top-image
                        +img('diagnostics-category-ct.png')
                .diagnostics-category__inner-bottom
                    .diagnostics-category__inner-bottom-block
                        .diagnostics-category__inner-bottom-title Запишитесь на прием
                        p Стоимость первичного приема врача терапевта
                    .diagnostics-category__inner-bottom-block
                        span от 1500 ₽
                        a(href='javascript:void(0)').btn.btn--blue-dark Запись на прием
    .diagnostics-category__main
        .container
            .diagnostics-category__wrapper
                .diagnostics-category__wrapper-leftside
                    include ../components/_dropdown
                    -
                        var dropdownCT = {
                            title: 'Компьютерная томография',
                            content: [
                                "МСКТ брюшной полости", "МСКТ височных костей",
                                "МСКТ головного мозга", "МСКТ грудного отдела позвоночника",
                                "МСКТ грудной клетки", "МСКТ денситометрия",
                                "Диагностика инфекций", "МСКТ коронарография",
                                "МСКТ легких", "МСКТ носовых пазух",
                                "МСКТ орбит (глазницы)", "МСКТ органов малого таза",
                                "МСКТ плечевого сустава", "МСКТ позвоночника",
                                "МСКТ почек", "МСКТ пояснично-крестцового отдела",
                                "МСКТ с контрастом", "МСКТ сердца и коронарных сосудов",
                                "МСКТ сосудов головы и шеи", "МСКТ сосудов нижних конечностей (ангиография)"
                            ],
                            href: 'diagnostics-inner.html'
                        }
                    -
                        var dropdownUS = {
                            title: 'Ультразвуковые исследования',
                            content: [
                                "МСКТ брюшной полости", "МСКТ височных костей",
                            ],
                            href: 'javascript:void(0)'
                        }
                    -
                        var dropdownXRay = {
                            title: 'Рентгенография',
                            content: [
                                "МСКТ брюшной полости", "МСКТ височных костей",
                            ],
                            href: 'javascript:void(0)'
                        }
                    -
                        var dropdownXRayDens = {
                            title: 'Рентгеноденситометрия',
                            content: [
                                "МСКТ брюшной полости", "МСКТ височных костей",
                            ],
                            href: 'javascript:void(0)'
                        }
                    -
                        var dropdownMG = {
                            title: 'Маммография',
                            content: [
                                "МСКТ брюшной полости", "МСКТ височных костей",
                            ],
                            href: 'javascript:void(0)'
                        }
                    -
                        var dropdownFD = {
                            title: 'Функциональная диагностика',
                            content: [
                                "МСКТ брюшной полости", "МСКТ височных костей",
                            ],
                            href: 'javascript:void(0)'
                        }
                    +dropdown(dropdownCT.title, dropdownCT.content, dropdownCT.href)
                    +dropdown(dropdownUS.title, dropdownUS.content, dropdownUS.href)
                    +dropdown(dropdownXRay.title, dropdownXRay.content, dropdownXRay.href)
                    +dropdown(dropdownXRayDens.title, dropdownXRayDens.content, dropdownXRayDens.href)
                    +dropdown(dropdownMG.title, dropdownMG.content, dropdownMG.href)
                    +dropdown(dropdownFD.title, dropdownFD.content, dropdownFD.href)
                .diagnostics-category__wrapper-rightside
                    .anchor-links
                        a(href='#how').anchor-link.active Как проводится
                        a(href='#application').anchor-link Области применения
                        a(href='#popular').anchor-link Виды КТ
                        a(href='#faq').anchor-link Частые вопросы
                    section.diagnostics-category-how#how
                        .h2-title Как проводится мультиспиральная компьютерная томография
                        p.
                            Процедура компьютерного сканирования организма безболезненна,
                            безопасна и хорошо переносится пациентами. Проводится при помощи
                            мультиспиральных томографов последнего поколения. Послойное
                            сканирование органов осуществляется за счет кругового движения
                            рентгеновской трубки томографа. Благодаря этому происходит
                            многократное отражение рентгеновских лучей, которое фиксируется
                            специальными детекторами.
                            <br>
                            <br>
                            Для проведения исследования пациенту необходимо лечь на стол томографа,
                            освобождая от одежды исследуемую область, и находиться в неподвижном
                            состоянии все время работы аппарата. Длительность процедуры компьютерной
                            томографии не превышает 15-30 минут (зависит от конкретных диагностических задач).
                            <br>
                            <br>
                            В ряде случаев, для повышения эффективности прибегают к дополнительному
                            контрастированию. Пациенту внутривенно вводится рентгеноконтрастное
                            йодосодержащее вещество, которое усиливает разницу поглощения тканями лучей.
                            В данном случае длительность процедуры увеличивается.
                            <br>
                            <br>
                            Пациент находится в кабинете один, ход обследования контролируется врачом и
                            лаборантом через рентгенозащитное стекло, общение осуществляется с помощью
                            переговорного устройства. В нужные моменты пациенту подаются голосовые команды.
                            <br>
                            <br>
                            По окончанию исследования врач-рентгенолог интерпретирует полученные изображений,
                            данные записываются на CD-диск или DVD-диск.
                            <br>
                            <br>
                            В течение 24 часов пациенту будет сформировано и выдано итоговое заключение.
                            Имеется возможность отправки результатов на электронную почту.

                    section.diagnostics-category-application#application
                        .h2-title Виды компьютерной томографии и области применения
                        p.
                            Процедура компьютерного сканирования организма безболезненна, безопасна
                            и хорошо переносится пациентами. Проводится при помощи мультиспиральных
                            томографов последнего поколения. Послойное сканирование органов осуществляется
                            за счет кругового движения рентгеновской трубки томографа. Благодаря этому
                            происходит многократное отражение рентгеновских лучей, которое фиксируется
                            специальными детекторами.
                            <br>
                            <br>
                            Для проведения исследования пациенту необходимо лечь на стол томографа, освобождая
                            от одежды исследуемую область, и находиться в неподвижном состоянии все время работы
                            аппарата. Длительность процедуры компьютерной томографии не превышает 15-30 минут
                            (зависит от конкретных диагностических задач).
                            <br>
                            <br>
                            В ряде случаев, для повышения эффективности прибегают к дополнительному
                            контрастированию. Пациенту внутривенно вводится рентгеноконтрастное йодосодержащее
                            вещество, которое усиливает разницу поглощения тканями лучей. В данном случае
                            длительность процедуры увеличивается.
                            <br>
                            <br>
                            Пациент находится в кабинете один, ход обследования контролируется врачом и
                            лаборантом через рентгенозащитное стекло, общение осуществляется с помощью
                            переговорного устройства. В нужные моменты пациенту подаются голосовые команды.
                            <br>
                            <br>
                            По окончанию исследования врач-рентгенолог интерпретирует полученные изображений,
                            данные записываются на CD-диск или DVD-диск.
                            <br>
                            <br>
                            В течение 24 часов пациенту будет сформировано и выдано итоговое заключение.
                            Имеется возможность отправки результатов на электронную почту.

                    section.diagnostics-category-popular#popular
                        .h2-title Популярные виды КТ
                        .diagnostics-category-popular__items
                            - var n = 9;
                            while n > 0
                                include ../components/_diagnostics-card
                                - n--;
                        include ../components/_pagination

                    section.diagnostics-category-faq#faq
                        .h2-title Вопрос ответ
                        .tests-faq__items
                            -
                                var faqItems = [
                                    'Как подготовиться к исследованию?',
                                    'Как быстро будут готовы результаты?',
                                    'Как подготовиться к анализу?',
                                    'Можно ли получить анализ на электронную почту?'
                                ]

                            include ../components/_faq-card
                            each faqItem in faqItems
                                +faqCard(faqItem)

                    section.diagnostics-category-specialists
                        .diagnostics-category-specialists__inner
                            .diagnostics-category-specialists__inner-top
                                .diagnostics-category-specialists__inner-top-title
                                    .h2-title К какому врачу обратиться
                                    p.
                                        При первичном обращении предлагаем записаться к терапевту,
                                        чтобы он при необходимости направил к узким специалистам.
                                .diagnostics-category-specialists__inner-top-nav
                                    .swiper-nav
                                        button.arrow-prev
                                        button.arrow-next
                            .diagnostics-category-specialists__inner-slider
                                -
                                    var specialists = [
                                        {
                                            name: "Филиппов Александр Олегович",
                                            specialization: "Врач - невролог, врач - остеопат"
                                        },
                                        {
                                            name: "Гиоева Лаура Валерьевна",
                                            specialization: "Невролог"
                                        },
                                        {
                                            name: "Егорова Екатерина Сергеевна",
                                            specialization: "Невролог, Кандидат медицинских наук"
                                        },
                                        {
                                            name: "Катенина Светлана Петровна",
                                            specialization: "Терапевт, гастроэнтеролог"
                                        }
                                    ]
                                .swiper
                                    .swiper-wrapper
                                        each specialist, index in specialists
                                            .swiper-slide
                                                include ../components/_doctor-card
                                                +doctor-card(index, specialist.name, specialist.specialization)

                    section.diagnostics-category-specialists
                        .h2-title Преимущества услуги
                        include ../components/_advantages-block
    .diagnostics-category-feedback
        include ../components/_feedback
