extends ../layout/layout

block title
    - title = 'Главная'
    - page = 'page-main'

block main
    include ../components/sections/_section-hero
    include ../components/sections/_section-services
    include ../components/sections/_section-call
    include ../components/sections/_section-checkups
    include ../components/sections/_section-diagnostics
    include ../components/sections/_section-installment
    include ../components/sections/_section-programs


