extends ../layout/layout

block title
    - title = 'Главная'
    - page = 'page-main'

block main
    include ../components/sections/_section-hero
    include ../components/sections/_section-services


