extends ../layout/layout

block title
    - title = 'Детальная страница новости'
    - page = 'page-news-inner'

block main
    include ../components/_breadcrumbs
    +breadcrumbs('Клиника', 'Новости', 'Детальная страница новости')
    section.news-inner
        .container
            .news-inner__inner
                h1.not-main Детальная страница новости
                .news-inner__inner-date 03.04.2023
                .news-inner__image
                    +img('news-image.jpg')
                .news-inner__content
                    h2 Заголовок h2
                    h6 Заголовок для списка маркерами
                    ul
                        li Lorem ipsum dolor sit amet consectetur. Pretium sed id tempus volutpat
                        li Lorem ipsum dolor sit amet consectetur. Pretium sed id tempus volutpat
                        li Lorem ipsum dolor sit amet consectetur. Pretium sed id tempus volutpat
                        li Lorem ipsum dolor sit amet consectetur. Pretium sed id tempus volutpat
                        li Lorem ipsum dolor sit amet consectetur. Pretium sed id tempus volutpat
                    h6 Заголовок для списка нумерованный
                    ol
                        li Lorem ipsum dolor sit amet consectetur. Pretium sed id tempus volutpat
                        li Lorem ipsum dolor sit amet consectetur. Pretium sed id tempus volutpat
                        li Lorem ipsum dolor sit amet consectetur. Pretium sed id tempus volutpat
                        li Lorem ipsum dolor sit amet consectetur. Pretium sed id tempus volutpat

                    h3 Заголовок блока для продвижения h3
                    p.
                        Lörem ipsum dekadade spessa dol nyrat. Supras pronäliga
                        eller miledes, pånera semiss bende. Prens vik ett matyk
                        punade så krora. Diasamma epiplande, iliga nälig pred.
                        Mitässade val, rynde. Benera kabibel völig migon mol.
                        Olålassade ryktig kyssa filostik. Tärynänisk vören i odenat
                        med segasm vint. Krovaktigt. Mibel tölig. Epilysa oska då
                        transism mityning tills astrora kvasisade. Nissa antis.
                        Du kan vara drabbad.
                    h4 Заголовок блока для продвижения h4
                    p.
                        Lörem ipsum dekadade spessa dol nyrat. Supras pronäliga eller
                        miledes, pånera semiss bende. Prens vik ett matyk punade så krora.
                        Diasamma epiplande, iliga nälig pred. Mitässade val, rynde. Benera
                        kabibel völig migon mol. Olålassade ryktig kyssa filostik. Tärynänisk
                        vören i odenat med segasm vint. Krovaktigt. Mibel tölig. Epilysa oska
                        då transism mityning tills astrora kvasisade. Nissa antis. Du kan
                        vara drabbad.
                        <br>
                        <br>
                        Lörem ipsum dekadade spessa dol nyrat. Supras pronäliga eller miledes,
                        pånera semiss bende. Prens vik ett matyk punade så krora. Diasamma
                        epiplande, iliga nälig pred. Mitässade val, rynde. Benera kabibel
                        völig migon mol

    section.news-inner-another
        .container
            .news-inner-another__inner
                .news-inner-another__inner-top
                    .h2-title Другие новости
                    .swiper-nav
                        button.arrow-prev
                        button.arrow-next
                .news-inner-another__inner-swiper.swiper
                    .swiper-wrapper
                        - var n = 6;
                        while n > 0
                            .swiper-slide
                                include ../components/news-n-article
                            - n--;