extends ../layout/layout

block title
    - title = 'Отзывы'
    - page = 'page-reviews'

block main
    include ../components/_breadcrumbs
    +breadcrumbs('Клиника', 'Отзывы')
    section.reviews-page
        .container
            .reviews-page__inner
                h1.not-main Отзывы
                .reviews-page__tabs.tabs
                    a(href='javascript:void(0)').tab.active О клинике
                    a(href='javascript:void(0)').tab О врачах
                .reviews-page__items
                    -
                        var reviews =
                                {
                                    type: "default",
                                    name: "Марина Васильевна",
                                    commentText: "Клиника Ок.Клиник - это место, где действительно\n" +
                                            "                        заботятся о здоровье. Мне была предложена комплексная\n" +
                                            "                        программа лечения, учитывающая все особенности моего\n" +
                                            "                        состояния. Работа разных специалистов в команде дала\n" +
                                            "                        отличный результат. Спасибо вам за ваш профессионализм и\n" +
                                            "                        индивидуальный подход!\n" +
                                            "                        Lörem ipsum dekadade spessa dol nyrat. Supras\n" +
                                            "                        pronäliga eller miledes, pånera semiss bende.\n" +
                                            "                        Prens vik ett matyk punade så krora. Diasamma\n" +
                                            "                        epiplande, iliga nälig pred. Mitässade val,\n" +
                                            "                        rynde. Benera kabibel völig migon mol. Olålassade\n" +
                                            "                        ryktig kyssa filostik. Tärynänisk vören i odenat med\n" +
                                            "                        segasm vint. Krovaktigt. Mibel tölig. Epilysa oska då\n" +
                                            "                        transism mityning tills astrora kvasisade. Nissa antis.\n" +
                                            "                        Du kan vara drabbad."
                                }
                    include ../components/_review
                    - var n = 0;
                    while n < 12
                        +review(reviews.type, reviews.name, reviews.commentText, n)
                        - n++;
                include ../components/_pagination

    include ../components/sections/_section-installment
