extends ../layout/layout

block title
    - var title = 'Услуги'
    - var page = 'page-services'

block main
    include ../components/_breadcrumbs
    +breadcrumbs('Услуги')
    section.services-page
        .container
            .services-page__inner
                h1.not-main Услуги
                .services-page__inner-items
                    -
                        var services = [
                            "Гинекология и акушерство","Неврология",
                            "Педиатрия","Хирургия","Ортопедия и травматология",
                            "Гастроэнтерология","Офтальмология","Оториноларингология (ЛОР)",
                        ]
                    each service, index in services
                        a(href='service.html').services-page__inner-item
                            p= service
                            .arrow-up-link.arrow-up-link--blue
                            .services-page__inner-item-image
                                +img(`services-page-image-${index + 1}.png`)
                            .services-page__inner-item-crosses
                                +img('crosses-1.png')

    section.services-page__areas
        .container
            .section-title Все направления
            .services-page__areas-items
                -
                    var areas = [
                        {
                            letter: "А",
                            list: [
                                "Аллергология и иммунология", "Андрология", "Артимология"
                            ]
                        },
                        {
                            letter: "Г",
                            list: [
                                "Гастроэнтерология", "Гематология"
                            ]
                        },
                        {
                            letter: "Д",
                            list: [
                                "Дерматовенерология", "Диетология"
                            ]
                        },
                        {
                            letter: "И",
                            list: [
                                "Инфекционные болезни"
                            ]
                        },
                        {
                            letter: "К",
                            list: [
                                "Кардиология", "Клиника лечения боли", "Колопроктология"
                            ]
                        },
                        {
                            letter: "М",
                            list: [
                                "Маммология"
                            ]
                        },
                        {
                            letter: "Н",
                            list: [
                                "Нефрология"
                            ]
                        },
                        {
                            letter: "О",
                            list: [
                                "Онкология (химиотерапия)", "Ортодонтия", "Отоларингология", "Офтальмология"
                            ]
                        },
                        {
                            letter: "П",
                            list: [
                                "Пластическая хирургия", "Проктология", "Психиатрия",
                                "Психология", "Психотерапия", "Пульмонология"
                            ]
                        },
                        {
                            letter: "Р",
                            list: [
                                "Ревматология", "Рефлексотерапия"
                            ]
                        },
                        {
                            letter: "С",
                            list: [
                                "Сосудистая хирургия"
                            ]
                        },
                        {
                            letter: "Т",
                            list: [
                                "Терапия", "Травматология и ортопедия"
                            ]
                        },
                        {
                            letter: "У",
                            list: [
                                "Урология"
                            ]
                        },
                        {
                            letter: "Ф",
                            list: [
                                "Физиотерапия", "Флебология"
                            ]
                        },
                        {
                            letter: "Х",
                            list: [
                                "Хирургия"
                            ]
                        },
                        {
                            letter: "Э",
                            list: [
                                "Эндокринная хирургия", "Эндокринология", "Эндоскопия", "Эстетическая гинекология"
                            ]
                        }
                    ]
                each area in areas
                    .services-page__areas-item
                        p= area.letter
                        ul
                            each item in area.list
                                li
                                    a(href='javascript:void(0)')= item
    include ../components/sections/_section-programs
    section.services-page__popular-notes
        .container
            .section-top.section-top--with-btn
                .section-title Популярные справки
                a(href='javascript:void(0)').btn.btn--transparent-blue-secondary Все справки
            .services-page__popular-notes-wrapper

                -
                    var noteCards = [
                        {
                            name: "Справка в бассейн детям",
                            serviceItems: [
                                {
                                    title: "Оформление справки для посещения бассейна с заключением врача по допуску к оздоровительному плаванию (без стоимости обследования)",
                                    price: 1000
                                }

                            ]

                        },
                        {
                            name: "Справка в лагерь  (079/У)",
                            serviceItems: [
                                {
                                    title: "Прием (осмотр, консультация) врача-педиатра первичный",
                                    price: 1000
                                },
                                {
                                    title: "Оформление справки на ребенка, отъезжающего в санаторный оздоровительный лагерь с заключением врача (форма 079/у) (без стоимости обследования) (у детей)",
                                    price: 1000
                                },

                            ]

                        },
                        {
                            name: "Справка в ГИБДД",
                            serviceItems: [
                                {
                                    title: 'Программа медицинского обследования для взрослых "Медицинское освидетельствование водителей транспортных средств для ГИБДД (категории прав "M", "A", "A1", "B", "B1", "BE") (КДЦ)"',
                                    price: 8000
                                }

                            ]

                        },
                    ]
                include ../components/_note-card
                each noteCard in noteCards
                    +noteCard(noteCard.name, noteCard.serviceItems)
    include ../components/_seo-content


