extends ../layout/layout

block title
    - var title = 'Сдать анализы аллергологии'
    - var page = 'page-tests-category'

block main
    include ../components/_breadcrumbs
    +breadcrumbs('Анализы', 'Сдать анализы аллергологии')
    .tests-cetagory-wrapper
        .container
            h1.not-main Сдать анализы аллергологии
            .tests-category-wrapper__inner
                .tests-category-wrapper__inner-leftside
                    include ../components/_dropdown
                    -
                        var dropdown = {
                            title: 'Анализы',
                            content: [
                                "COVID-19", "Аллергология", "Бактериологические исследования",
                                "Биохимические исследования",
                                "Гинекологические анализы, выполняемые в сторонней лаборатории",
                                "Диагностика аутоиммунных заболеваний", "Диагностика инфекций",
                                "Исследование обменов (белковый, азотистый, пигментный, липидный, углеводный)",
                                "Исследования гормонов",
                                "Коагулологические исследования (Исследования свертывающей системы крови)",
                                "Лекарственный мониторинг", "Маркер сердечной недостаточности",
                                "Маркер нарушения инкреторной функции поджелудочной железы (диагностика и мониторирование сахарного диабета)",
                                "Микроскопические исследования", "Молекулярно-биологические исследования",
                                "Общеклинические исследования биологических жидкостей",
                                "Общеклинические исследования крови, мочи, кала",
                                "Общеклинические исследования мокрот",
                                "Онкомаркеры", "Определение групп крови",
                                "Определение сывороточных иммуноглобулинов",
                                "Оценка гуморального и клеточного иммунитета",
                                "Серологические исследования", "Цитологические исследования",
                                "Экспресс-тесты"
                            ],
                            href: 'tests-category.html'
                        }
                    +dropdown(dropdown.title, dropdown.content, dropdown.href)
                .tests-category-wrapper__inner-main
                    section.tests-cetagory
                        .tests-category-items__grid
                            - var n = 8;
                            while n > 0
                                include ../components/_test-card
                                - n--;
                        include ../components/_pagination

                    section.tests-category-seo
                        include ../components/_seo-text-only

                    section.tests-category-faq
                        .h2-title Вопрос ответ
                        .tests-faq__items
                            -
                                var faqItems = [
                                    'Как быстро будут готовы результаты?',
                                    'Как подготовиться к анализу?',
                                    'Можно ли получить анализ на электронную почту?'
                                ]

                            include ../components/_faq-card
                            each faqItem in faqItems
                                +faqCard(faqItem)


