extends ../layout/layout

block title
    - var title = 'Анализы'
    - var page = 'page-tests'

block main
    include ../components/_breadcrumbs
    +breadcrumbs('Анализы')
    .tests-wrapper
        .container
            h1.not-main Сдать анализы в СПБ
            .tests-wrapper__inner
                .tests-wrapper__inner-leftside
                    include ../components/_dropdown
                    -
                        var dropdown = {
                            title: 'Анализы',
                            content: [
                                "COVID-19", "Аллергология", "Бактериологические исследования",
                                "Биохимические исследования",
                                "Гинекологические анализы, выполняемые в сторонней лаборатории",
                                "Диагностика аутоиммунных заболеваний", "Диагностика инфекций",
                                "Исследование обменов (белковый, азотистый, пигментный, липидный, углеводный)",
                                "Исследования гормонов",
                                "Коагулологические исследования (Исследования свертывающей системы крови)",
                                "Лекарственный мониторинг", "Маркер сердечной недостаточности",
                                "Маркер нарушения инкреторной функции поджелудочной железы (диагностика и мониторирование сахарного диабета)",
                                "Микроскопические исследования", "Молекулярно-биологические исследования",
                                "Общеклинические исследования биологических жидкостей",
                                "Общеклинические исследования крови, мочи, кала",
                                "Общеклинические исследования мокрот",
                                "Онкомаркеры", "Определение групп крови",
                                "Определение сывороточных иммуноглобулинов",
                                "Оценка гуморального и клеточного иммунитета",
                                "Серологические исследования", "Цитологические исследования",
                                "Экспресс-тесты"
                            ]
                        }
                    +dropdown(dropdown.title, dropdown.content)
                .tests-wrapper__inner-main
                    section.tests-popular
                        .h2-title Популярные анализы
                        .tests-popular__items
                            - var n = 4;
                            while n > 0
                                include ../components/_test-card
                                - n--;
                    section.test-seo
                        include ../components/_seo-text-only
