extends ../layout/layout

block title
    - title = 'Анализ ВИЧ 1-2 АГ / АТ (hiv ag / ab combo) (ихла)'
    - page = 'page-test'

block main
    include ../components/_breadcrumbs
    +breadcrumbs('Анализы', 'Анализы на ВИЧ', 'Анализ ВИЧ 1-2 АГ / АТ (hiv ag / ab combo) (ихла)')
    .test-wrapper.side-wrapper
        .container
            h1.not-main Анализ ВИЧ 1-2 АГ / АТ (hiv ag / ab combo) (ихла)
            .test-wrapper__inner
                .test-wrapper__rightside
                    .test-wrapper__rightside-content
                        .test__group
                            p Группа анализов
                            p Анализы на ВИЧ
                        .test__price
                            .test__price-top
                                .test__price-top-title Код № 52
                                ul.custom-list
                                    li 1 рабочий день
                                    li Сдается в клинике
                            .test__price-bottom
                                .test__price-bottom-price
                                    p от 1500 ₽
                                    p Взятие крови из вены: 200 ₽
                                .test__price-bottom-buttons
                                    a(href='javascript:void(0)').btn.btn--blue-dark Запись на прием
                                    a(href='javascript:void(0)').btn.btn--gray-subdied Пример результата

                .test-wrapper__main
                    .anchor-links
                        a(href='#about').anchor-link.active Об услуге
                        a(href='#methodology').anchor-link Методика исследования
                        a(href='#faq').anchor-link Вопросы
                    section.test-about#about
                        .h2-title Об услуге
                        p.
                            Вирус иммунодефицита человека (ВИЧ) относится к семейству
                            РНК-содержащих ретровирусов. ВИЧ атакует клетки иммунной
                            системы с CD4-рецепторами, которые вирус использует для
                            внедрения в клетку, - Т-лимфоциты, макрофаги, моноциты и
                            некоторые другие типы CD4+ клеток. Вирусная нагрузка на
                            организм растет по мере уничтожения иммунокомпетентных
                            клеток и ухудшения состояния иммунной системы.

                        p.
                            тип 1 является наиболее распространенным в мире;
                            <br>
                            тип 2 встречается реже, в основном, в Западной Африке.
                        .test-about__image
                            +img('test-page-image.jpg')

                    section.test-methodology#methodology
                        .h2-title Методика исследования
                        .test-methodology__content
                            p.
                                Обратите внимание: порядок выполнения анализа на ВИЧ регулируется
                                СП 3.1.5.2826-10 «Профилактика ВИЧ-инфекции» и приказами Минздрава
                                РФ. Диагностический алгоритм состоит из 2 этапов – скрининга и
                                подтверждения предварительно-положительных результатов.
                                <br>
                                <br>
                            ol
                                li.
                                    Скрининговый тест на антитела к ВИЧ 1 - 2 проводится иммуноферментным
                                    (ИФА) или иммунохемилюминесцентным методом (ИХЛА).
                                    Отрицательный результат (антитела к белкам ВИЧ не выявлены)
                                    готов к выдаче на следующий день после анализа.
                                li.
                                    При обнаружении антител к ВИЧ 1 - 2 или антигена p24 первично-положительная
                                    проба тестируется в лаборатории еще дважды. Если 2 из 3 тестов положительные,
                                    сыворотка направляется на верификационное (подтверждающее) исследование в
                                    референсную лабораторию (как правило, это лаборатория регионального СПИД-Центра).

                    section.tests-literature
                        .h2-title Литература
                        ol
                            li Алан Г. Б. Клиническое руководство Тица по лабораторным тестам //М.: Лабора. – 2013. – Т. 1280.
                            li.
                                Долгов В. В., Меньшиков В. В. Клиническая лабораторная диагностика.
                                Национальное руководство //М.: ГЭОТАР-Медиа. – 2016. – С. 688.
                            li Материалы фирмы-производителя реагентов.

                    section.tests-another
                        .h2-title Другие названия этого исследования
                        .h4-title Названия на английском языке
                        p.
                            Activated partial thromboplastin time (APTT),Antithrombin
                            III,Coagulation test,Coagulogram of blood,Coagulopathy,
                            D-dimer,Determination of thrombin time in diagnosis of
                            dysfibrinogenemia or hypofibrinogenemia,Fibrin degradation
                            fragment,Fibrinogen (FG, Factor I),Fragment D-dimer,
                            Hemostasiogram,International normalized ratio,International
                            normalized ratio (INR),Prothrombin,Prothrombin time (PT),
                            Prothrombin time ratio,Сoagulogram
                        .h4-title Названия на русском языке
                        p.
                            активированное частичное тромбопластиновое время (АЧТВ),
                            антитромбин III,коагулограмма скрининг,маркер тромбообразования
                            и фибринолизиса,международное нормализованное отношение (МНО),
                            плазминоген,протромбиновое время (ПТВ),протромбиновый индекс
                            (ПТИ),система гемостаза,тромбиновое время,фактор I (первый)
                            свёртывающей системы плазмы,фибриноген,фрагмент расщепления фибрина

                    section.test-faq
                        .h2-title Вопрос ответ
                        .test-faq__items
                            -
                                var faqItems = [
                                    'Почему при гемолизе некоторые тесты были выполнены?',
                                    'Почему результаты разных лабораторий не совпадают?',
                                    'Как подготовиться к анализу?',
                                    'Можно ли получить анализ на электронную почту?'
                                ]
                            include ../components/_faq-card
                            each faqItem in faqItems
                                +faqCard(faqItem)

                    section.test-additional
                        .test-additional__top
                            .h2-title С этим анализом заказывают
                            .swiper-nav
                                button.arrow-prev
                                button.arrow-next
                        .test-additional__swiper.swiper
                            .swiper-wrapper
                                - var n = 6;
                                while n > 0
                                    .swiper-slide
                                        include ../components/_test-card
                                    - n--;


