a(href='checkup.html').checkup-item
    .checkup-item__top
        .h4-title.checkup-item__top-title Чекап «Скан женского здоровья»
        p.
            Чекап «Женское здоровье» доступен в 3-х вариантах:
            стандартный, расширенный и максимальный.
        ul.custom-list
            li Срок выполнения 1-2 дня
            li Для женщин
            li Гинекология
    .checkup-item__bottom
        .checkup-item__prices
            span 14 200 ₽
            span 21 800 ₽
        .arrow-up-link.arrow-up-link--blue
        .btn.btn--blue-dark Подробнее