a(href='javascript:void(0)').diagnostics-card
    .diagnostics-card__top
        .diagnostics-card__top-code A00-С11
        .diagnostics-card__top-title Название вида анализа или диагностики
    .diagnostics-card__bottom
        .diagnostics-card__bottom-price
            span 9 000 ₽
            span 10 000 ₽
        .arrow-up-link.arrow-up-link--blue