mixin diagnosticItem(title, details)
    .diagnostics__item
        .diagnostics__item-title= title
        ul
            each detail in details
                li
                    a(href='javascript:void(0)')= detail
        a(href='diagnostics-category.html').btn.btn--transparent-blue-secondary Смотреть все