.doctor-info#doctorInfo
    .doctor-info__inner
        .h2-title Катенина Светлана Петровна
        .worker__item
            .worker__item-title Должность
            .worker__item-details
                p.
                    Заведующая терапевтическим отделением,
                    врач-терапевт, гирудотерапевт, гастроэнтеролог
        .worker__item
            .worker__item-title Специализация
            .worker__item-details
                p.
                    Проблемы кардиологии, пульмонологии:
                    нестабильность артериального давления, нарушения
                    ритма пульса, дыхательные нарушения различной
                    природы (инфекционной, кардиогенной).
        .worker__item
            .worker__item-title Заголовок
            .worker__item-details
                p.
                    Lörem ipsum dekadade spessa dol nyrat.
                    Supras pronäliga eller miledes, pånera
                    semiss bende. Prens vik ett matyk punade
                    så krora. Diasamma epiplande, iliga
                    nälig pred. Mitässade val, rynde. Benera
                    kabibel völig migon mol. Olålassade ryktig
                    kyssa filostik. Tärynänisk vören i odenat
                    med segasm vint. Krovaktigt. Mibel tölig.
                    Epilysa oska då transism mityning tills
                    astrora kvasisade. Nissa antis.
                    Du kan vara drabbad.
        .worker__item
            .worker__item-title Заголовок
            .worker__item-details
                p.
                    Lörem ipsum dekadade spessa dol nyrat.
                    Supras pronäliga eller miledes, pånera
                    semiss bende. Prens vik ett matyk punade
                    så krora. Diasamma epiplande, iliga
                    nälig pred. Mitässade val, rynde. Benera
                    kabibel völig migon mol. Olålassade ryktig
                    kyssa filostik. Tärynänisk vören i odenat
                    med segasm vint. Krovaktigt. Mibel tölig.
                    Epilysa oska då transism mityning tills
                    astrora kvasisade. Nissa antis.
                    Du kan vara drabbad.

    button.btn-zoom.btn-zoom--out