mixin dropdown(title, content)

    .dropdown
        .dropdown__top
            .dropdown__top-title= title
            .dropdown__top-arrow
                include ../icons/icon_chevron-down--black.svg
        .dropdown__content
            ul
                each item in content
                    li
                        a(href='javascript:void(0)')= item
