mixin faqCard(text)
    .faq-item
        .faq-item__question
            .faq-item__title= text
            button.btn-accordeon.btn-accordeon--in
        .faq-item__text
            p.
                Далеко-далеко за словесными горами в стране гласных и согласных
                живут рыбные тексты. Своего продолжил даль силуэт. Вскоре своих
                правилами большого, семантика возвращайся маленькая, буквоград
                ведущими обеспечивает снова грустный запятой первую жизни заголовок?

