.faq.section-block

    .faq__inner

        .h2-title Вопрос ответ

        .faq__items

            .faq__item
                .faq__item-question
                    .faq__item-title Как подготовиться к исследованию?
                    button.btn-accordeon.btn-accordeon--in
                .faq__item-text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Своего продолжил даль силуэт. Вскоре своих правилами большого, семантика возвращайся маленькая, буквоград ведущими обеспечивает снова грустный запятой первую жизни заголовок?

            .faq__item
                .faq__item-question
                    .faq__item-title Как быстро будут готовы результаты?
                    button.btn-accordeon.btn-accordeon--in
                .faq__item-text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Своего продолжил даль силуэт. Вскоре своих правилами большого, семантика возвращайся маленькая, буквоград ведущими обеспечивает снова грустный запятой первую жизни заголовок?
        
            .faq__item
                .faq__item-question
                    .faq__item-title Как подготовиться к анализу?
                    button.btn-accordeon.btn-accordeon--in
                .faq__item-text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Своего продолжил даль силуэт. Вскоре своих правилами большого, семантика возвращайся маленькая, буквоград ведущими обеспечивает снова грустный запятой первую жизни заголовок?

            .faq__item
                .faq__item-question
                    .faq__item-title Можно ли получить анализ на электронную почту?
                    button.btn-accordeon.btn-accordeon--in
                .faq__item-text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Своего продолжил даль силуэт. Вскоре своих правилами большого, семантика возвращайся маленькая, буквоград ведущими обеспечивает снова грустный запятой первую жизни заголовок?