mixin noteCard(name, serviceItems)
    a(href='note.html').note-card
        .note-card__top
            .note-card__icon
            .h4-title.note-card__top-name= name
        .note-card__wrap
            each serviceItem in serviceItems
                .note-card__wrap-inner
                    .note-catd__description= serviceItem.title
                    .note-card__price= `от ${serviceItem.price} ₽`