section.seo
    .container
        .seo__inner
            .seo__inner-main
                .h2-title Заголовок блока для продвижения который может быть длинным или очень коротким h2
                .seo-image
                    +img('seo-image.png')
            .seo__inner-content
                p.
                    Lörem ipsum dekadade spessa dol nyrat. Supras pronäliga eller miledes,
                    pånera semiss bende. Prens vik ett matyk punade så krora.
                    Diasamma epiplande, iliga nälig pred. Mitässade val, rynde.
                    Benera kabibel völig migon mol. Olålassade ryktig kyssa filostik.
                    Tärynänisk vören i odenat med segasm vint. Krovaktigt. Mibel tölig.
                    Epilysa oska då transism mityning tills astrora kvasisade.
                    Nissa antis. Du kan vara drabbad.
                .h3-title Заголовок блока для продвижения h3
                p.
                    Lörem ipsum dekadade spessa dol nyrat. Supras pronäliga
                    eller miledes, pånera semiss bende. Prens vik ett matyk punade
                    så krora. Diasamma epiplande, iliga nälig pred. Mitässade val,
                    rynde. Benera kabibel völig migon mol. Olålassade ryktig kyssa
                    filostik. Tärynänisk vören i odenat med segasm vint. Krovaktigt.
                    Mibel tölig. Epilysa oska då transism mityning tills astrora kvasisade.
                    Nissa antis. Du kan vara drabbad.
                .h4-title Заголовок блока для продвижения h4
                p.
                    Lörem ipsum dekadade spessa dol nyrat. Supras pronäliga eller miledes,
                    pånera semiss bende. Prens vik ett matyk punade så krora. Diasamma
                    epiplande, iliga nälig pred. Mitässade val, rynde. Benera kabibel völig migon mol.
                    Olålassade ryktig kyssa filostik. Tärynänisk vören i odenat med segasm vint.
                    Krovaktigt. Mibel tölig. Epilysa oska då transism mityning tills astrora kvasisade.
                    Nissa antis. Du kan vara drabbad.
                    <br>
                    <br>
                    Lörem ipsum dekadade spessa dol nyrat. Supras pronäliga eller miledes,
                    pånera semiss bende. Prens vik ett matyk punade så krora. Diasamma
                    epiplande, iliga nälig pred. Mitässade val, rynde. Benera kabibel völig migon mol
