a(href='test.html').test-item
    .test-item__top
        .h4-title.test-item__top-title A00-B99
        p.
            Экспресс-тест, ПЦР, РНК вируса SARS-CoV-2, мазок
            (PCR Rapid test, SARS-CoV-2, RNA, nasopharyngeal and
            oropharyngeal smear)
        ul.custom-list
            li Срок выполнения 1-2 дня
            li Для женщин
            li Гинекология
    .test-item__bottom
        .test-item__prices
            span 14 200 ₽
            span 21 800 ₽
        .arrow-up-link.arrow-up-link--blue
        .btn.btn--blue-dark Подробнее