
// ЗАПИСЬ НА ПРИЕМ
.popup.popup--small#popupAppointment
    .popup__inner
        .popup__title Запись на прием
        form
            input(type='text' placeholder='Имя' required).input
            input(type='text' placeholder='E-mail' required).input
            input(type='text' placeholder='Телефон' required data-phone-number ).input
            include _popup-agree
            button.btn.btn--blue-dark Отправить запрос


// ВЫЗВАТЬ ВРАЧА НА ДОМ
.popup.popup--big#popupCallDoctor
    .popup__inner
        .popup__title Выезд врача на дом
        form
            .popup__form_inputs
                input(type='text' placeholder='Имя' required).input
                input(type='text' placeholder='E-mail' required).input
                input(type='text' placeholder='Телефон' required data-phone-number).input
                textarea(placeholder='Район, Адрес, какого врача вызвать').input
            .popup__form_bottom
                include _popup-agree
                button.btn.btn--blue-dark Отправить запрос

// ПОПАП ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
.popup.popup--small#popupConsultation
    .popup__inner
        .popup__title Получить консультацию
        form
            input(type='text' placeholder='Имя' required).input
            input(type='text' placeholder='E-mail' required).input
            input(type='text' placeholder='Телефон' required data-phone-number).input
            include _popup-agree
            button.btn.btn--blue-dark Отправить запрос

// ПОПАП ОСТАВИТЬ ОТЗЫВ
.popup.popup--big#popupReview
    .popup__inner
        .popup__title Оставить отзыв
        form
            .popup__form_inputs
                input(type='text' placeholder='Имя' required).input
                input(type='text' placeholder='E-mail' required).input
                input(type='text' placeholder='Телефон' required data-phone-number).input
                textarea(placeholder='Расскажите о посещении клиники' required).input
                .input-wrapper.input--video-link
                    input(type='text' placeholder='Ссылка на видео отзыв').input
            .popup__form_bottom
                include _popup-agree
                button.btn.btn--blue-dark Отправить запрос


// ПОПАП ПОИСКА
.popup__search#popupSearch
        .popup__inner
            form
                .input-wrapper.has--close-btn
                    input(type='search' placeholder='Поиск по сайту').input
                    span
                button.btn.btn--blue-dark Найти

