@use "../../base/mixins" as *;
@use "../../base/variables" as *;

.services {
  .services__block {
    border-radius: 32px;
    background: $gray-subdied;
    padding: 20px 16px;

    &-top-items {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-bottom: 16px;
    }

    &-main-items {
      column-count: 2;
      column-gap: 12px;
      a {
        color: $blue-dark;
        font-size: 14px;
        line-height: 150%; /* 21px */

        & + a {
          margin-top: 4px;
        }
      }
    }
  }

}

