@use "../../base/mixins" as *;
@use "../../base/variables" as *;

.diagnostics {
  &__inner {
    .section-description {
      @include breakpoint(md) {
        max-width: 574px;
      }
    }
  }

  &__wrapper {
    margin-top: 20px;
  }

  &__wrapper-items {
    margin-top: 24px;
    display: none;
    gap: 12px;

    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(lg) {
      margin-top: 40px;
      grid-template-columns: repeat(3, 1fr);
    }

    &.showed {
      display: grid;
    }
  }
}