@use "../../base/mixins" as *;
@use "../../base/variables" as *;
@use "../../base/container" as *;

.programs {
  .section-top {
    margin-bottom: 24px;

    .section-title {
      @include breakpoint(lg) {
        @include columCountMaxWidth(5);
      }

      @include breakpoint(xl) {
        @include columnCountMaxXlWidth(4);
      }
    }
  }

  &__wrapper {
    &-top {
      @include flexCenterBetween;
      margin-bottom: 16px;

      @include breakpoint(md) {
        margin-bottom: 24px;
      }

      @include breakpoint(lg) {
        margin-bottom: 32px;
      }

      .btn {
        height: 48px;
        font-size: 13px;
      }

      .swiper-nav {
        @include flexAlignCenter;
        gap: 8px;
      }
    }

    .swiper-slide {

    }

    &-items {
      margin-right: calc(0px - $container);

      @include breakpoint(md) {
        margin-right: unset;
      }
      .programs-item {
        border-radius: 32px;
        background: $gray-subdied;
        padding: 24px;
        position: relative;
        overflow: clip;
        transition: $transition;
        display: grid;
        grid-template-rows: fit-content(100%);

        @include breakpoint(md) {
          height: 276px;
          border-radius: 32px;
          padding: 32px;
        }

        &:hover {
          background: $blue-subdied;
          .programs-item__image {
            scale: 110%;
          }
        }

        &__title {
          font-size: 20px;
          font-weight: 600;
          line-height: 120%; /* 24px */
          letter-spacing: -0.2px;
          margin-bottom: 8px;

          @include breakpoint(md) {
            font-size: 23px;
            letter-spacing: -0.23px;
            margin-bottom: 16px;
          }
        }

        ul {
          @include flexColumn;
          gap: 4px;
          li {
            font-size: 14px;
            line-height: 150%; /* 21px */
            //white-space: nowrap;

            @include breakpoint(md) {
              font-size: 16px;
            }
          }
        }

        &__prices {
          height: 48px;
          display: flex;
          gap: 4px;
          margin-top: 32px;
          align-self: flex-end;

          span {
            &:first-child {
              align-self: center;
              color: $blue-dark;
              font-size: 23px;
              font-weight: 600;
              line-height: 120%; /* 27.6px */
              letter-spacing: -0.23px;
            }

            &:last-child {
              color: $blue-lite;
              font-size: 11px;
              line-height: 16px; /* 145.455% */
              text-decoration: line-through;
            }
          }
        }

        &__image {
          position: absolute;
          width: 93px;
          height: 93px;
          right: 0;
          bottom: 0;
          transition: $transition;

          @include breakpoint(md) {
            width: 140px;
            height: 140px;
          }
        }
      }

    }
  }


}