@use "../../base/mixins" as *;
@use "../../base/variables" as *;
@use "../../base/container" as *;


.specialists {

  &__inner {

    &-top {
      @include flexColumn;
      gap: 24px;
      margin-bottom: 12px;


      @include breakpoint(md) {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 40px;
      }

      &-nav {

        @include flexCenterBetween;

        @include breakpoint(md) {
          justify-content: unset;
          gap: 16px;
        }

        .btn {
        }

        .swiper-nav {
          @include flexAlignCenter;
          gap: 8px;
        }
      }
    }
    &-slider {

      .swiper-wrapper {
        flex-direction: row;
      }
    }
  }
}
