@use "../../base/mixins" as *;
@use "../../base/variables" as *;
@use "../../base/container" as *;

.programs {
  .section-top {
    margin-bottom: 24px;

    .section-title {
      @include breakpoint(lg) {
        @include columCountMaxWidth(5);
      }

      @include breakpoint(xl) {
        @include columnCountMaxXlWidth(4);
      }
    }
  }

  &__wrapper {
    &-top {
      @include flexCenterBetween;
      margin-bottom: 16px;

      @include breakpoint(md) {
        margin-bottom: 24px;
      }

      @include breakpoint(lg) {
        margin-bottom: 32px;
      }

      .btn {
        height: 48px;
        font-size: 13px;
      }

    }

    .swiper-slide {

    }

    &-items {
      margin-right: calc(0px - $container);

      @include breakpoint(md) {
        margin-right: unset;
      }


    }
  }


}