@use "mixins" as *;
@use "variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .4s;
}

body.overflow-hidden {
  overflow: hidden;
}

body b {
  font-weight: 700;
  color: inherit;
}

body.compensate-for-scrollbar {
  overflow: visible !important;
  padding: 0 !important;
}

main {
  min-height: calc(max(calc(100vh - 614px), 350px));
  overflow: hidden;
}

.hide {
  display: none !important;
}

#page {
  position: relative;
  min-width: 360px;
  min-height: 100%;
  max-width: 100%;
  @include flexColumn;
}

#page::before {
  content: '';
}

section {
  position: relative;
}

li {
  list-style: none;
}

#overlay {
  display: none;

  &.show {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #00000099;
    z-index: 5;
  }
}


/////////////////////
/// SCROLLBAR
/////////////////////

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {

}

* {
  scrollbar-width: thin;
  scrollbar-color: $blue-dark transparent;
}


/////////////////////
/// INPUTS
/////////////////////

/* Убираем стрелки в Chrome, Safari, Edge, Opera */
.range-values input::-webkit-outer-spin-button,
.range-values input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"], {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none !important;
}

input:focus,
input:focus-visible,
input:focus::after,
input:focus-visible::after {
  outline: none !important;
  box-shadow: none !important;
}

input {
  outline: none;
  border: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Убирает стандартный стиль в Firefox */
}

.input {
  border-radius: 12px;
  border: 1px solid $stroke;
  height: 56px;
  width: 100%;
  padding: 0 16px;

  &::placeholder {
    color: $gray-dark;
    font-size: 14px;
    font-weight: 400;
  }

  &:focus {
    border: 1px solid $blue-secondary;
  }
}


// Checkbox
.checkbox {
  input {
    display: none;
  }

  label {
    display: flex;
    user-select: none;
    cursor: pointer;

    &::before {
      content: '';

    }

    &.disabled {
      cursor: default;
    }
  }

  input:checked + label {
    &::before {
      content: '';

    }

    &.disabled::before {

    }
  }

  & ~ .checkbox {

  }
}

.has--close-btn {
  position: relative;

  span {
    display: none;
  }

  span::before {
    content: '';
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url("../icons/icon_x-mark.svg") no-repeat center;
    display: block;
    cursor: pointer;
  }

}

// Radiobutton
.radio {
  input {
    display: none;
  }

  label {
    display: flex;
    user-select: none;
    cursor: pointer;

    &::before {
      content: '';

    }
  }

  input:checked + label {
    &::before {
      content: '';

    }
  }

  & ~ .radio {
    margin-top: 8px;
  }
}

/////////////////////
/// BUTTONS
/////////////////////

.btn {
  //border-radius: 8px;
  //font-size: 11px;
  //padding: 8px 32px;
  font-size: 13px;
  border-radius: 12px;
  padding: 16px 32px;
  transition: $transition;
  cursor: pointer;
  width: fit-content;
  @include flexCenterCenter;

  @include breakpoint(md) {
    //font-size: 13px;
    //border-radius: 12px;
    //padding: 16px 32px;
  }

  @include breakpoint(lg) {
    font-size: 16px;
  }

  &.btn--blue-dark {
    color: $white;
    background-color: $blue-dark;

    &:hover {
      background-color: $blue-lite;
    }
  }

  &.btn--transparent-blue-dark {
    border: 1px solid $blue-dark;
    color: #404751;

    &:hover {
      background-color: $blue-subdied;
      color: $blue-dark;
    }
  }

  &.btn--gray-subdied {
    background-color: $gray-subdied;
    color: $blue-dark;

    &:hover {
      background-color: $blue-lite;
      color: $white;
    }
  }

  &.btn--transparent-blue-secondary {
    border: 1px solid $blue-secondary;
    color: $black;

    &:hover {
      background: $blue-subdied;
      color: $blue-dark;
    }
  }

  &.btn--white {
    background-color: $white;
    color: $blue-dark;

    &:hover {
      background-color: $blue-lite;
      color: $white;
    }
  }
}

.arrow-prev, .arrow-next {
  border-radius: 8px;
  background: $gray-subdied;
  width: 48px;
  height: 48px;
  cursor: pointer;
  @include flexCenterCenter;

  &:after {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    transition: $transition;
  }

}

.arrow-prev {
  &:after {
    background: url('../icons/icon_arrow-prev.svg') no-repeat center center;
  }

  &:hover:after {
    background: url('../icons/icon_arrow-prev--blue.svg') no-repeat center center;
  }
}

.arrow-next {
  &:after {
    background: url('../icons/icon_arrow-next.svg') no-repeat center center;
  }

  &:hover:after {
    background: url('../icons/icon_arrow-next--blue.svg') no-repeat center center;
  }
}


/////////////////////
/// LINKS
/////////////////////
a {
  display: inline-block;
}

.arrow-link {
  width: 48px;
  height: 48px;
  @include flexCenterCenter;
  transition: $transition;
  border-radius: 12px;
  cursor: pointer;

  &:after {
    content: '';
    width: 24px;
    height: 24px;
  }

  &.arrow-link--white {
    background: $white;

    &:after {
      background: url("../icons/icon_arrow-up-right--blue.svg") no-repeat center;
    }

    &:hover {
      background: $blue-secondary;
    }
  }

  &.arrow-link--blue {
    background: $blue-dark;

    &:after {
      background: url("../icons/icon_arrow-up-right--white.svg") no-repeat center;
    }

    &:hover {
      background: $blue-lite;
    }
  }
}

.link-hover {
  transition: $transition;

  &:hover {
    color: $blue-dark;
  }
}

.tag-link {
  border-radius: 999px;
  background: $blue-subdied;
  color: $blue-dark;
  cursor: pointer;
  padding: 4px 12px;
  transition: $transition;
  font-size: 14px;
  line-height: 150%;
  width: fit-content;

  @include breakpoint(md) {
    font-size: 16px;
  }

  &:hover {
    background: $blue-lite;
    color: $white;
  }

  &:active, &:focus, &.active {
    background: $blue-secondary;
    color: $blue-dark;
  }

  &.tag-link--with-uncheck {
    @include flexAlignCenter;

    button {
      width: 16px;
      height: 16px;
      background: transparent;
      cursor: pointer;
      display: none;

      @include breakpoint(md) {
        width: 20px;
        height: 20px;

      }

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &.active {
      cursor: default;
      button {
        @include flexCenterCenter;
      }
    }
  }
}

.tag {
  border-radius: 999px;
  background: $blue-subdied;
  color: $blue-dark;
  cursor: pointer;
  padding: 4px 12px;
  transition: $transition;
  font-size: 14px;
  line-height: 150%;
  width: fit-content;
}

/////////////////////
/// ICONS
/////////////////////


/////////////////////
/// OTHERS
/////////////////////

video {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section + section {
  margin-top: 48px;

  @include breakpoint(md) {
    margin-top: 64px;
  }
}

.tabs, .filter-tabs, .doctor__links {
  padding: 8px;
  border-radius: 12px;
  background: $gray-subdied;
  @include flexAlignCenter;
  gap: 8px;
  overflow-x: auto;
  width: fit-content;
}

button, div, a {
  &.tab, &.filter-tab, .doctor__link {
    border-radius: 8px;
    padding: 4px 12px;
    transition: $transition;
    font-size: 16px;
    line-height: 150%; /* 24px */
    cursor: pointer;
    background: transparent;

    &:hover {
      background: $white;
      color: $blue-dark;
    }

    &.active {
      background: $blue-dark;
      color: $white;
    }
  }
}

.custom-list {
  li {
    @include flexAlignCenter;
    gap: 10px;

    &:before {
      content: '';
      width: 8px;
      flex-shrink: 0;
      height: 8px;
      background: url("../icons/icon_list-circle.svg") no-repeat center;
    }
  }
}


/////////////////////
/// CARDS & CATALOG
/////////////////////


/////////////////////
/// TYPOGRAPHY
/////////////////////

h1 {
  font-size: 33px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1px;

  @include breakpoint(md) {
    font-size: 40px;
    letter-spacing: -1.2px;
  }

  &.not-main {
    margin-bottom: 24px;

    @include breakpoint(md) {
      margin-bottom: 32px;
    }
  }
}

.section-title {
  font-size: 29px;
  line-height: 120%;
  letter-spacing: -3%;
  font-weight: 600;

  @include breakpoint(lg) {
    font-size: 33px;
    letter-spacing: 0;
  }
}

.section-top {

  @include breakpoint(lg) {
    display: flex;
    justify-content: space-between;
  }

  .section-title {
    margin-bottom: 16px;

    @include breakpoint(lg) {
      margin-bottom: 0;
    }
  }

  .section-description {
    @include breakpoint(lg) {
      @include columCountMaxWidth(6);
    }

    @include breakpoint(xl) {
      @include columnCountMaxXlWidth(6);
    }
  }
}

.section-description {
  color: $gray-dark;
  font-size: 14px;
  line-height: 150%; /* 21px */

  @include breakpoint(md) {
    font-size: 16px;
  }
}

/////////////////////
/// SWIPER SLIDER
/////////////////////
